<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     viewBox='0 0 1446 1874.999' enable-background='new 0 0 1446 1874.999' xml:space='preserve'
     style='display: block; width: 100%; height: auto;'>
                        <rect fill='#0f0d21' class='fill-0' width='1446' height='1875'></rect>
  <image overflow='visible' opacity='0.35' width='5500' height='3802'
         xlink:href='https://huemint.com/assets/img/graphics/website-monochrome/webp/800/stairs_shadow.webp'
         data-prefix='website-monochrome' data-filename='stairs_shadow' style='mix-blend-mode: multiply'
         transform='matrix(0.2173 0 0 0.2173 248 -1.0062)'></image>
  <image overflow='visible' opacity='0.1' width='5500' height='3802'
         xlink:href='https://huemint.com/assets/img/graphics/website-monochrome/webp/800/stairs_highlight.webp'
         data-prefix='website-monochrome' data-filename='stairs_highlight' style='mix-blend-mode: screen'
         transform='matrix(0.2173 0 0 0.2173 248 -1.0062)'></image>
  <text class='fill-1 d-none d-lg-inline' opacity='0.35' transform='matrix(1 0 0 1 346.4199 605.8711)' fill='#bec491'><tspan x='0' y='0' font-family='Roboto' font-size='16px'>A middle-shade between the </tspan>
    <tspan x='0' y='27' font-family='Roboto' font-size='16px'>foreground and background can </tspan>
    <tspan x='0' y='54' font-family='Roboto' font-size='16px'>help add some variety</tspan></text>
  <path fill='#bec491' class='fill-1' opacity='0.35' d='M644.751,54.914h-0.055l-3.192-7.786h-1.771v9.864h1.395v-7.26h0.048l2.98,7.185h1.135l2.974-7.185h0.048
                            v7.26h1.401v-9.864h-1.777L644.751,54.914z M654.362,47.128l-3.562,9.864h1.593l0.902-2.666h3.76l0.902,2.666h1.62l-3.562-9.864
                            H654.362z M653.686,53.096l1.47-4.327h0.041l1.47,4.327H653.686z M660.665,56.992h1.531v-9.864h-1.531V56.992z M670.57,54.401
                            h-0.055l-5.113-7.273h-1.388v9.864h1.49v-7.267h0.062l5.113,7.267h1.381v-9.864h-1.49V54.401z M745.499,47.128h-3.862v9.864h1.531
                            v-3.37h2.283c1.935,0,3.302-1.326,3.302-3.254C748.753,48.447,747.413,47.128,745.499,47.128z M745.096,52.337h-1.928V48.42h1.928
                            c1.333,0,2.092,0.711,2.092,1.955S746.422,52.337,745.096,52.337z M757.264,50.143c0-1.839-1.265-3.015-3.295-3.015h-3.876v9.864
                            h1.531v-3.794h2.16l2.01,3.794h1.771l-2.215-4.033C756.553,52.556,757.264,51.476,757.264,50.143z M753.825,51.961h-2.201v-3.548
                            h2.16c1.183,0,1.907,0.67,1.907,1.771C755.691,51.312,755.008,51.961,753.825,51.961z M763.006,46.964
                            c-2.844,0-4.621,1.962-4.621,5.1s1.777,5.093,4.621,5.093c2.837,0,4.621-1.955,4.621-5.093S765.843,46.964,763.006,46.964z
                             M763.006,55.81c-1.873,0-3.056-1.449-3.056-3.746c0-2.304,1.183-3.753,3.056-3.753s3.049,1.449,3.049,3.753
                            C766.055,54.36,764.879,55.81,763.006,55.81z M772.617,47.128h-3.534v9.864h3.534c2.939,0,4.669-1.832,4.669-4.949
                            C777.286,48.933,775.557,47.128,772.617,47.128z M772.474,55.666h-1.859v-7.219h1.859c2.092,0,3.254,1.285,3.254,3.609
                            C775.728,54.388,774.565,55.666,772.474,55.666z M785.202,53.396c0,1.408-0.896,2.399-2.468,2.399s-2.461-0.991-2.461-2.399v-6.269
                            h-1.531v6.398c0,2.126,1.518,3.63,3.992,3.63s3.992-1.504,3.992-3.63v-6.398h-1.524V53.396z M792.715,55.816
                            c-1.812,0-2.96-1.456-2.96-3.76c0-2.283,1.162-3.753,2.953-3.753c1.34,0,2.393,0.827,2.666,2.092h1.518
                            c-0.26-2.058-1.948-3.432-4.184-3.432c-2.755,0-4.519,1.969-4.519,5.093c0,3.145,1.75,5.1,4.519,5.1c2.27,0,3.814-1.196,4.19-3.233
                            h-1.524C795.066,55.112,794.089,55.816,792.715,55.816z M797.288,48.447h3.076v8.545h1.531v-8.545h3.069v-1.319h-7.677V48.447z
                             M810.481,51.421l-1.087-0.267c-1.271-0.314-1.791-0.725-1.791-1.422c0-0.875,0.813-1.477,2.003-1.477s2.003,0.595,2.092,1.579h1.49
                            c-0.048-1.702-1.477-2.871-3.562-2.871c-2.105,0-3.589,1.169-3.589,2.871c0,1.374,0.841,2.222,2.652,2.659l1.278,0.308
                            c1.278,0.314,1.818,0.772,1.818,1.538c0,0.882-0.896,1.524-2.14,1.524c-1.299,0-2.249-0.643-2.358-1.62h-1.511
                            c0.096,1.784,1.572,2.912,3.76,2.912c2.338,0,3.808-1.155,3.808-3.001C813.346,52.713,812.505,51.899,810.481,51.421z
                             M882.081,47.128l-3.562,9.864h1.593l0.902-2.666h3.76l0.902,2.666h1.62l-3.562-9.864H882.081z M881.404,53.096l1.47-4.327h0.041
                            l1.47,4.327H881.404z M895.555,50.143c0-1.839-1.265-3.015-3.295-3.015h-3.876v9.864h1.531v-3.794h2.16l2.01,3.794h1.771
                            l-2.215-4.033C894.844,52.556,895.555,51.476,895.555,50.143z M892.116,51.961h-2.201v-3.548h2.16c1.183,0,1.907,0.67,1.907,1.771
                            C893.982,51.312,893.299,51.961,892.116,51.961z M896.457,48.447h3.076v8.545h1.531v-8.545h3.069v-1.319h-7.677V48.447z
                             M905.385,56.992h1.531v-9.864h-1.531V56.992z M912.904,55.816c-1.812,0-2.96-1.456-2.96-3.76c0-2.283,1.162-3.753,2.953-3.753
                            c1.34,0,2.393,0.827,2.666,2.092h1.518c-0.26-2.058-1.948-3.432-4.184-3.432c-2.755,0-4.519,1.969-4.519,5.093
                            c0,3.145,1.75,5.1,4.519,5.1c2.27,0,3.814-1.196,4.19-3.233h-1.524C915.256,55.112,914.278,55.816,912.904,55.816z M920,47.128
                            h-1.531v9.864h6.125v-1.326H920V47.128z M925.906,56.992h6.262v-1.326h-4.73v-3.063h4.478v-1.271h-4.478v-2.885h4.73v-1.319h-6.262
                            V56.992z M938.006,51.421l-1.087-0.267c-1.271-0.314-1.791-0.725-1.791-1.422c0-0.875,0.813-1.477,2.003-1.477
                            s2.003,0.595,2.092,1.579h1.49c-0.048-1.702-1.477-2.871-3.562-2.871c-2.105,0-3.589,1.169-3.589,2.871
                            c0,1.374,0.841,2.222,2.652,2.659l1.278,0.308c1.278,0.314,1.818,0.772,1.818,1.538c0,0.882-0.896,1.524-2.14,1.524
                            c-1.299,0-2.249-0.643-2.358-1.62h-1.511c0.096,1.784,1.572,2.912,3.76,2.912c2.338,0,3.808-1.155,3.808-3.001
                            C940.87,52.713,940.029,51.899,938.006,51.421z'></path>
  <path class='fill-1'
        d='M1356.5,88.75h24v-2.5h-24V88.75z M1356.5,78.75h31.11v-2.5h-31.11V78.75z M1356.5,66.25v2.5h31.11v-2.5H1356.5z'
        fill='#bec491'></path>
  <text class='fill-1 d-none d-lg-inline' opacity='0.35' transform='matrix(1 0 0 1 345.1641 964.9048)' fill='#bec491'><tspan x='0' y='0' font-family='Roboto' font-size='16px'>Lorem ipsum dolor sit amet, consectetur </tspan>
    <tspan x='0' y='28' font-family='Roboto' font-size='16px'>adipiscing elit. Pellentesque dapibus, </tspan>
    <tspan x='0' y='56' font-family='Roboto' font-size='16px'>neque consectetur imperdiet euismod, </tspan>
    <tspan x='0' y='84' font-family='Roboto' font-size='16px'>purus risus mattis purus, ac laoreet orci </tspan>
    <tspan x='0' y='112' font-family='Roboto' font-size='16px'>quam ac ante. Vivamus tristique laoreet </tspan>
    <tspan x='0' y='140' font-family='Roboto' font-size='16px'>ex, vel dapibus orci malesuada ut. Integer </tspan>
    <tspan x='0' y='168' font-family='Roboto' font-size='16px'>aliquet vestibulum metus vel efficitur. </tspan>
    <tspan x='0' y='196' font-family='Roboto' font-size='16px'>Vestibulum in dolor metus.</tspan></text>
  <text class='fill-1 d-none d-lg-inline' opacity='0.35' transform='matrix(1 0 0 1 345.1641 1221.9048)' fill='#bec491'><tspan x='0' y='0' font-family='Roboto' font-size='16px'>Nulla tincidunt faucibus enim, quis </tspan>
    <tspan x='0' y='28' font-family='Roboto' font-size='16px'>lacinia diam pellentesque et. Nullam </tspan>
    <tspan x='0' y='56' font-family='Roboto' font-size='16px'>eleifend placerat blandit. Fusce id </tspan>
    <tspan x='0' y='84' font-family='Roboto' font-size='16px'>sagittis justo. Phasellus tempus nec </tspan>
    <tspan x='0' y='112' font-family='Roboto' font-size='16px'>tellus et lobortis. In sed metus eget dui </tspan>
    <tspan x='0' y='140' font-family='Roboto' font-size='16px'>vehicula mollis nec in dui. Curabitur eu </tspan>
    <tspan x='0' y='168' font-family='Roboto' font-size='16px'>urna est. Cras lobortis mi ut accumsan </tspan>
    <tspan x='0' y='196' font-family='Roboto' font-size='16px'>euismod. Aliquam tincidunt ultrices </tspan>
    <tspan x='0' y='224' font-family='Roboto' font-size='16px'>efficitur.</tspan></text>
  <rect x='346.4' y='592.4' class='fill-1 d-inline d-lg-none' width='202.6' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='952.8' class='fill-1 d-inline d-lg-none' width='286.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='980.8' class='fill-1 d-inline d-lg-none' width='286.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1008.8' class='fill-1 d-inline d-lg-none' width='286.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1036.8' class='fill-1 d-inline d-lg-none' width='286.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1064.8' class='fill-1 d-inline d-lg-none' width='286.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1092.8' class='fill-1 d-inline d-lg-none' width='286.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1120.8' class='fill-1 d-inline d-lg-none' width='286.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1148.8' class='fill-1 d-inline d-lg-none' width='286.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1208.8' class='fill-1 d-inline d-lg-none' width='242.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1236.8' class='fill-1 d-inline d-lg-none' width='255.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1264.8' class='fill-1 d-inline d-lg-none' width='237' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1292.8' class='fill-1 d-inline d-lg-none' width='255.9' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1320.8' class='fill-1 d-inline d-lg-none' width='274.8' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1348.8' class='fill-1 d-inline d-lg-none' width='271.5' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1376.8' class='fill-1 d-inline d-lg-none' width='273.2' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1404.8' class='fill-1 d-inline d-lg-none' width='249.6' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='1432.8' class='fill-1 d-inline d-lg-none' width='68.1' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='620.4' class='fill-1 d-inline d-lg-none' width='227.7' height='15' fill='#bec491'></rect>
  <rect x='346.4' y='648.4' class='fill-1 d-inline d-lg-none' width='156' height='15' fill='#bec491'></rect>
  <path class='fill-1' d='M152.5,740.888V788H149l4,8l4-8h-3.5v-47.112H152.5z M951.497,1043.049v-8.836c0-3.174-1.739-5.104-4.786-5.104
                            c-2.133,0-3.517,0.851-4.354,2.476h-0.051v-2.323h-2.628v13.787h2.755v-7.96c0-2.171,1.244-3.618,3.326-3.618
                            c2.019,0,2.983,1.168,2.983,3.263v8.315H951.497z M891.004,968.18h-2.755l-1.193,6.195h2.107L891.004,968.18z M863.976,993.262
                            h-2.755v8.836c0,3.161,1.828,5.104,4.837,5.104c2.107,0,3.504-0.876,4.304-2.514h0.051v2.361h2.628v-13.787h-2.755v7.947
                            c0,2.184-1.257,3.618-3.313,3.618c-1.993,0-2.996-1.13-2.996-3.25V993.262z M944.781,962.823c0-1.942,1.143-3.199,2.958-3.199
                            c0.546,0,1.028,0.076,1.257,0.165v-2.577c-0.216-0.051-0.559-0.089-0.965-0.089c-1.625,0-2.895,0.927-3.326,2.463h-0.051v-2.323
                            h-2.628v13.787h2.755V962.823z M888.63,1029.084c-3.974,0-6.525,2.742-6.525,7.071c0,4.342,2.539,7.059,6.525,7.059
                            s6.513-2.717,6.513-7.059S892.604,1029.084,888.63,1029.084z M888.63,1040.929c-2.336,0-3.732-1.765-3.732-4.773
                            c0-2.996,1.396-4.786,3.732-4.786s3.72,1.777,3.72,4.786S890.966,1040.929,888.63,1040.929z M943.854,995.408
                            c1.892,0,3.034,1.104,3.288,2.564h2.628c-0.241-2.653-2.425-4.888-5.941-4.888c-3.897,0-6.462,2.78-6.462,7.071
                            c0,4.367,2.577,7.059,6.487,7.059c3.313,0,5.624-1.917,5.941-4.799h-2.628c-0.33,1.612-1.511,2.488-3.301,2.488
                            c-2.209,0-3.707-1.777-3.707-4.748C940.16,997.261,941.633,995.408,943.854,995.408z M954.354,1043.049h2.755v-13.787h-2.755
                            V1043.049z M955.915,969.107c-1.752,0-2.818-0.724-3.034-2.044h-2.717c0.203,2.488,2.399,4.151,5.611,4.151
                            c3.339,0,5.675-1.701,5.675-4.164c0-2.031-1.028-3.034-3.809-3.707l-2.285-0.546c-1.46-0.355-2.146-0.927-2.146-1.765
                            c0-1.092,1.041-1.815,2.603-1.815c1.574,0,2.628,0.762,2.742,1.98h2.59c-0.063-2.399-2.247-4.101-5.269-4.101
                            c-3.174,0-5.345,1.663-5.345,4.088c0,1.904,1.231,3.174,3.72,3.783l2.463,0.609c1.447,0.368,1.993,0.825,1.993,1.701
                            C958.708,968.396,957.629,969.107,955.915,969.107z M888.16,1000.207c0,4.316,2.488,7.008,6.487,7.008
                            c3.098,0,5.522-1.727,5.916-4.202h-2.628c-0.381,1.206-1.638,1.968-3.237,1.968c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763
                            v-0.965c0-4.177-2.387-6.805-6.17-6.805C890.674,993.084,888.16,995.89,888.16,1000.207z M894.521,995.332
                            c2.006,0,3.364,1.422,3.428,3.567h-6.995C891.105,996.779,892.54,995.332,894.521,995.332z M866.375,971.049h2.755v-13.787h-2.755
                            V971.049z M934.003,1043.049h2.755v-13.787h-2.755V1043.049z M877.242,971.189c2.019,0,3.593-0.914,4.405-2.476h0.051v2.336h2.666
                            v-19.145h-2.742v7.643h-0.063c-0.787-1.523-2.361-2.425-4.342-2.425c-3.428,0-5.789,2.78-5.789,7.021
                            C871.428,968.409,873.789,971.189,877.242,971.189z M877.94,959.458c2.209,0,3.694,1.892,3.694,4.697
                            c0,2.818-1.485,4.697-3.694,4.697c-2.234,0-3.694-1.841-3.694-4.697C874.246,961.312,875.719,959.458,877.94,959.458z
                             M921.32,1000.156c0-4.342-2.539-7.071-6.513-7.071s-6.525,2.742-6.525,7.071c0,4.342,2.539,7.059,6.525,7.059
                            S921.32,1004.498,921.32,1000.156z M911.075,1000.156c0-2.996,1.396-4.786,3.732-4.786s3.72,1.777,3.72,4.786
                            s-1.384,4.773-3.72,4.773S911.075,1003.165,911.075,1000.156z M931.146,1043.049v-9.395c0-2.755-1.777-4.545-4.494-4.545
                            c-1.968,0-3.593,1.016-4.316,2.679h-0.063c-0.559-1.714-1.942-2.679-3.859-2.679c-1.803,0-3.288,0.939-3.923,2.488h-0.051v-2.336
                            h-2.628v13.787h2.755v-8.455c0-1.803,1.219-3.123,2.92-3.123c1.612,0,2.641,1.016,2.641,2.615v8.963h2.704v-8.557
                            c0-1.765,1.193-3.021,2.882-3.021c1.714,0,2.691,1.041,2.691,2.844v8.734H931.146z M905.261,969.107
                            c-1.752,0-2.818-0.724-3.034-2.044h-2.717c0.203,2.488,2.399,4.151,5.611,4.151c3.339,0,5.675-1.701,5.675-4.164
                            c0-2.031-1.028-3.034-3.809-3.707l-2.285-0.546c-1.46-0.355-2.146-0.927-2.146-1.765c0-1.092,1.041-1.815,2.603-1.815
                            c1.574,0,2.628,0.762,2.742,1.98h2.59c-0.063-2.399-2.247-4.101-5.269-4.101c-3.174,0-5.345,1.663-5.345,4.088
                            c0,1.904,1.231,3.174,3.72,3.783l2.463,0.609c1.447,0.368,1.993,0.825,1.993,1.701C908.054,968.396,906.975,969.107,905.261,969.107
                            z M867.759,955.294c0.889,0,1.612-0.711,1.612-1.587c0-0.901-0.724-1.587-1.612-1.587s-1.612,0.686-1.612,1.587
                            C866.146,954.583,866.87,955.294,867.759,955.294z M875.63,997.185c0,1.904,1.231,3.174,3.72,3.783l2.463,0.609
                            c1.447,0.368,1.993,0.825,1.993,1.701c0,1.117-1.079,1.828-2.793,1.828c-1.752,0-2.818-0.724-3.034-2.044h-2.717
                            c0.203,2.488,2.399,4.151,5.611,4.151c3.339,0,5.675-1.701,5.675-4.164c0-2.031-1.028-3.034-3.809-3.707l-2.285-0.546
                            c-1.46-0.355-2.146-0.927-2.146-1.765c0-1.092,1.041-1.815,2.603-1.815c1.574,0,2.628,0.762,2.742,1.98h2.59
                            c-0.063-2.399-2.247-4.101-5.269-4.101C877.801,993.097,875.63,994.76,875.63,997.185z M928.684,990.406
                            c0.368,0,0.749,0.038,1.028,0.102v-2.095c-0.444-0.076-0.901-0.127-1.396-0.127c-2.793,0-3.961,1.13-3.961,3.707v1.27h-1.904v2.171
                            h1.904v11.616h2.742v-11.616h2.628v-2.171h-2.653v-1.181C927.084,990.901,927.554,990.406,928.684,990.406z M932.822,963.077
                            c-3.402,0.216-5.269,1.612-5.269,4.024c0,2.463,1.904,4.088,4.659,4.088c1.879,0,3.593-0.939,4.354-2.438h0.063v2.298h2.628v-9.458
                            c0-2.729-2.171-4.507-5.535-4.507c-3.098,0-5.408,1.803-5.484,4.24h2.577c0.241-1.193,1.333-1.968,2.831-1.968
                            c1.841,0,2.895,0.863,2.895,2.438v1.066L932.822,963.077z M936.542,965.87c0,1.815-1.549,3.123-3.593,3.123
                            c-1.587,0-2.615-0.762-2.615-1.942c0-1.219,0.978-1.917,2.856-2.031l3.352-0.229V965.87z M900.919,1043.049v-11.616h2.628v-2.171
                            h-2.653v-1.181c0.013-1.181,0.482-1.676,1.612-1.676c0.368,0,0.749,0.038,1.028,0.102v-2.095c-0.444-0.076-0.901-0.127-1.396-0.127
                            c-2.793,0-3.961,1.13-3.961,3.707v1.27h-1.904v2.171h1.904v11.616H900.919z M915.785,968.79h0.051
                            c0.825,1.523,2.387,2.399,4.367,2.399c3.466,0,5.764-2.768,5.764-7.033c0-4.278-2.311-7.033-5.827-7.033
                            c-1.917,0-3.618,0.939-4.393,2.425h-0.063v-2.285h-2.653v18.357h2.755V968.79z M919.441,959.458c2.234,0,3.707,1.854,3.707,4.697
                            c0,2.856-1.473,4.697-3.707,4.697c-2.196,0-3.669-1.879-3.682-4.697C915.772,961.35,917.258,959.458,919.441,959.458z
                             M935.387,1024.121c-0.889,0-1.612,0.686-1.612,1.587c0,0.876,0.724,1.587,1.612,1.587s1.612-0.711,1.612-1.587
                            C936.999,1024.806,936.275,1024.121,935.387,1024.121z M868.965,1041.107c-1.752,0-2.818-0.724-3.034-2.044h-2.717
                            c0.203,2.488,2.399,4.151,5.611,4.151c3.339,0,5.675-1.701,5.675-4.164c0-2.031-1.028-3.034-3.809-3.707l-2.285-0.546
                            c-1.46-0.355-2.146-0.927-2.146-1.765c0-1.092,1.041-1.815,2.603-1.815c1.574,0,2.628,0.762,2.742,1.98h2.59
                            c-0.063-2.399-2.247-4.101-5.269-4.101c-3.174,0-5.345,1.663-5.345,4.088c0,1.904,1.231,3.174,3.72,3.783l2.463,0.609
                            c1.447,0.368,1.993,0.825,1.993,1.701C871.758,1040.396,870.679,1041.107,868.965,1041.107z M1255.008,700.867
                            c-2.666,0-4.336-1.392-4.541-3.413h-3.149c0.205,3.647,3.135,6.152,7.69,6.152c4.409,0,7.764-2.534,7.764-6.226
                            c0-2.959-2.051-4.907-5.229-5.127v-0.059c2.622-0.469,4.351-2.358,4.351-4.995c0-3.252-2.915-5.522-6.914-5.522
                            c-4.189,0-6.987,2.388-7.236,6.094h3.091c0.19-2.08,1.714-3.398,3.999-3.398c2.505,0,3.853,1.304,3.853,3.267
                            c0,1.992-1.567,3.428-3.853,3.428h-2.549v2.578h2.637c2.783,0,4.512,1.406,4.512,3.691
                            C1259.432,699.402,1257.586,700.867,1255.008,700.867z M1057.604,1045.817c-0.241,0-0.673-0.013-0.876-0.063v2.234
                            c0.216,0.038,0.889,0.076,1.117,0.076c2.818,0,4.126-1.066,5.307-4.38l5.167-14.422h-2.895l-3.542,11.273h-0.063l-3.542-11.273
                            h-2.958l5.002,13.825l-0.216,0.711C1059.636,1045.258,1058.912,1045.817,1057.604,1045.817z M1076.965,963.089
                            c0-2.171,1.244-3.618,3.326-3.618c2.019,0,2.983,1.168,2.983,3.263v8.315h2.755v-8.836c0-3.174-1.739-5.104-4.786-5.104
                            c-2.133,0-3.517,0.851-4.354,2.476h-0.051v-2.323h-2.628v13.787h2.755V963.089z M1070.109,1043.049h2.755v-19.145h-2.755V1043.049z
                             M1076.317,1003.012h-2.628c-0.381,1.206-1.638,1.968-3.237,1.968c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763v-0.965
                            c0-4.177-2.387-6.805-6.17-6.805c-3.859,0-6.373,2.806-6.373,7.122s2.488,7.008,6.487,7.008
                            C1073.499,1007.214,1075.924,1005.488,1076.317,1003.012z M1070.274,995.332c2.006,0,3.364,1.422,3.428,3.567h-6.995
                            C1066.859,996.779,1068.294,995.332,1070.274,995.332z M1087.718,1036.854v-0.965c0-4.177-2.387-6.805-6.17-6.805
                            c-3.859,0-6.373,2.806-6.373,7.122s2.488,7.008,6.487,7.008c3.098,0,5.522-1.727,5.916-4.202h-2.628
                            c-0.381,1.206-1.638,1.968-3.237,1.968c-2.26,0-3.758-1.574-3.758-3.961v-0.165H1087.718z M1081.535,1031.332
                            c2.006,0,3.364,1.422,3.428,3.567h-6.995C1078.12,1032.779,1079.555,1031.332,1081.535,1031.332z M1046.648,967.418
                            c0,2.666,1.066,3.72,3.821,3.72c0.597,0,1.244-0.063,1.549-0.14v-2.171c-0.178,0.025-0.647,0.063-0.939,0.063
                            c-1.155,0-1.688-0.559-1.688-1.752v-7.706h2.641v-2.171h-2.641v-3.098h-2.742v3.098h-1.904v2.171h1.904V967.418z M1091.933,1039.863
                            c-0.927,0-1.663,0.724-1.663,1.663c0,0.927,0.736,1.663,1.663,1.663c0.939,0,1.663-0.736,1.663-1.663
                            C1093.596,1040.586,1092.872,1039.863,1091.933,1039.863z M1054.139,1031.433v-2.171h-2.641v-3.098h-2.742v3.098h-1.904v2.171h1.904
                            v7.985c0,2.666,1.066,3.72,3.821,3.72c0.597,0,1.244-0.063,1.549-0.14v-2.171c-0.178,0.025-0.647,0.063-0.939,0.063
                            c-1.155,0-1.688-0.559-1.688-1.752v-7.706H1054.139z M1055.104,1000.968l2.463,0.609c1.447,0.368,1.993,0.825,1.993,1.701
                            c0,1.117-1.079,1.828-2.793,1.828c-1.752,0-2.818-0.724-3.034-2.044h-2.717c0.203,2.488,2.399,4.151,5.611,4.151
                            c3.339,0,5.675-1.701,5.675-4.164c0-2.031-1.028-3.034-3.809-3.707l-2.285-0.546c-1.46-0.355-2.146-0.927-2.146-1.765
                            c0-1.092,1.041-1.815,2.603-1.815c1.574,0,2.628,0.762,2.742,1.98h2.59c-0.063-2.399-2.247-4.101-5.269-4.101
                            c-3.174,0-5.345,1.663-5.345,4.088C1051.384,999.089,1052.615,1000.359,1055.104,1000.968z M1065.006,963.077
                            c-3.402,0.216-5.269,1.612-5.269,4.024c0,2.463,1.904,4.088,4.659,4.088c1.879,0,3.593-0.939,4.354-2.438h0.063v2.298h2.628v-9.458
                            c0-2.729-2.171-4.507-5.535-4.507c-3.098,0-5.408,1.803-5.484,4.24H1063c0.241-1.193,1.333-1.968,2.831-1.968
                            c1.841,0,2.895,0.863,2.895,2.438v1.066L1065.006,963.077z M1068.726,965.87c0,1.815-1.549,3.123-3.593,3.123
                            c-1.587,0-2.615-0.762-2.615-1.942c0-1.219,0.978-1.917,2.856-2.031l3.352-0.229V965.87z M860.294,962.823
                            c0-1.942,1.143-3.199,2.958-3.199c0.546,0,1.028,0.076,1.257,0.165v-2.577c-0.216-0.051-0.559-0.089-0.965-0.089
                            c-1.625,0-2.895,0.927-3.326,2.463h-0.051v-2.323h-2.628v13.787h2.755V962.823z M1138.207,999.153c0-2.209,1.295-3.682,3.44-3.682
                            c2.019,0,3.047,1.244,3.047,3.301v8.277h2.755v-8.811c0-3.11-1.815-5.129-4.85-5.129c-2.107,0-3.529,0.851-4.354,2.476h-0.063
                            v-7.681h-2.729v19.145h2.755V999.153z M1156.069,1007.214c3.098,0,5.522-1.727,5.916-4.202h-2.628
                            c-0.381,1.206-1.638,1.968-3.237,1.968c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763v-0.965c0-4.177-2.387-6.805-6.17-6.805
                            c-3.859,0-6.373,2.806-6.373,7.122S1152.07,1007.214,1156.069,1007.214z M1155.942,995.332c2.006,0,3.364,1.422,3.428,3.567h-6.995
                            C1152.527,996.779,1153.962,995.332,1155.942,995.332z M1036.86,1000.207c0,4.316,2.488,7.008,6.487,7.008
                            c3.098,0,5.522-1.727,5.916-4.202h-2.628c-0.381,1.206-1.638,1.968-3.237,1.968c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763
                            v-0.965c0-4.177-2.387-6.805-6.17-6.805C1039.374,993.084,1036.86,995.89,1036.86,1000.207z M1043.221,995.332
                            c2.006,0,3.364,1.422,3.428,3.567h-6.995C1039.806,996.779,1041.24,995.332,1043.221,995.332z M1276.23,682.225h-1.609
                            l-3.578,14.609h1.568L1276.23,682.225z M1286.773,694.211h1.784v-2.366h1.644v-1.561h-1.644v-8.052h-2.689
                            c-2.698,3.901-4.06,6.051-5.089,7.985v1.627h5.994V694.211z M1282.515,690.31v-0.042c0.954-1.735,2.167-3.603,4.241-6.599h0.033
                            v6.641H1282.515z M1098.521,993.262v13.787h2.755v-8.227c0-1.942,1.143-3.199,2.958-3.199c0.546,0,1.028,0.076,1.257,0.165v-2.577
                            c-0.216-0.051-0.559-0.089-0.965-0.089c-1.625,0-2.895,0.927-3.326,2.463h-0.051v-2.323H1098.521z M955.737,1024.121
                            c-0.889,0-1.612,0.686-1.612,1.587c0,0.876,0.724,1.587,1.612,1.587s1.612-0.711,1.612-1.587
                            C957.35,1024.806,956.626,1024.121,955.737,1024.121z M1095.754,997.591c0-2.729-2.171-4.507-5.535-4.507
                            c-3.098,0-5.408,1.803-5.484,4.24h2.577c0.241-1.193,1.333-1.968,2.831-1.968c1.841,0,2.895,0.863,2.895,2.438v1.066l-3.72,0.216
                            c-3.402,0.216-5.269,1.612-5.269,4.024c0,2.463,1.904,4.088,4.659,4.088c1.879,0,3.593-0.939,4.354-2.438h0.063v2.298h2.628V997.591
                            z M1093.037,1001.87c0,1.815-1.549,3.123-3.593,3.123c-1.587,0-2.615-0.762-2.615-1.942c0-1.219,0.978-1.917,2.856-2.031
                            l3.352-0.229V1001.87z M1112.55,1007.214c3.098,0,5.522-1.727,5.916-4.202h-2.628c-0.381,1.206-1.638,1.968-3.237,1.968
                            c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763v-0.965c0-4.177-2.387-6.805-6.17-6.805c-3.859,0-6.373,2.806-6.373,7.122
                            S1108.551,1007.214,1112.55,1007.214z M1112.423,995.332c2.006,0,3.364,1.422,3.428,3.567h-6.995
                            C1109.008,996.779,1110.442,995.332,1112.423,995.332z M1127.632,1003.418c0,2.666,1.066,3.72,3.821,3.72
                            c0.597,0,1.244-0.063,1.549-0.14v-2.171c-0.178,0.025-0.647,0.063-0.939,0.063c-1.155,0-1.688-0.559-1.688-1.752v-7.706h2.641
                            v-2.171h-2.641v-3.098h-2.742v3.098h-1.904v2.171h1.904V1003.418z M1093.977,971.189c2.019,0,3.593-0.914,4.405-2.476h0.051v2.336
                            h2.666v-19.145h-2.742v7.643h-0.063c-0.787-1.523-2.361-2.425-4.342-2.425c-3.428,0-5.789,2.78-5.789,7.021
                            C1088.162,968.409,1090.523,971.189,1093.977,971.189z M1094.675,959.458c2.209,0,3.694,1.892,3.694,4.697
                            c0,2.818-1.485,4.697-3.694,4.697c-2.234,0-3.694-1.841-3.694-4.697C1090.98,961.312,1092.453,959.458,1094.675,959.458z
                             M986.676,951.905h-2.755v19.145h2.755V951.905z M998.851,1023.905h-2.755v19.145h2.755V1023.905z M1040.161,1041.107
                            c-1.752,0-2.818-0.724-3.034-2.044h-2.717c0.203,2.488,2.399,4.151,5.611,4.151c3.339,0,5.675-1.701,5.675-4.164
                            c0-2.031-1.028-3.034-3.809-3.707l-2.285-0.546c-1.46-0.355-2.146-0.927-2.146-1.765c0-1.092,1.041-1.815,2.603-1.815
                            c1.574,0,2.628,0.762,2.742,1.98h2.59c-0.063-2.399-2.247-4.101-5.269-4.101c-3.174,0-5.345,1.663-5.345,4.088
                            c0,1.904,1.231,3.174,3.72,3.783l2.463,0.609c1.447,0.368,1.993,0.825,1.993,1.701
                            C1042.954,1040.396,1041.875,1041.107,1040.161,1041.107z M997.949,1005.526c0-0.939-0.724-1.663-1.663-1.663
                            c-0.927,0-1.663,0.724-1.663,1.663c0,0.927,0.736,1.663,1.663,1.663C997.226,1007.189,997.949,1006.453,997.949,1005.526z
                             M989.621,998.823c0-1.942,1.143-3.199,2.958-3.199c0.546,0,1.028,0.076,1.257,0.165v-2.577c-0.216-0.051-0.559-0.089-0.965-0.089
                            c-1.625,0-2.895,0.927-3.326,2.463h-0.051v-2.323h-2.628v13.787h2.755V998.823z M971.619,1000.156c0,4.342,2.539,7.059,6.525,7.059
                            s6.513-2.717,6.513-7.059s-2.539-7.071-6.513-7.071S971.619,995.827,971.619,1000.156z M978.145,995.37
                            c2.336,0,3.72,1.777,3.72,4.786s-1.384,4.773-3.72,4.773s-3.732-1.765-3.732-4.773C974.412,997.16,975.809,995.37,978.145,995.37z
                             M979.363,1043.049v-9.395c0-2.755-1.777-4.545-4.494-4.545c-1.968,0-3.593,1.016-4.316,2.679h-0.063
                            c-0.559-1.714-1.942-2.679-3.859-2.679c-1.803,0-3.288,0.939-3.923,2.488h-0.051v-2.336h-2.628v13.787h2.755v-8.455
                            c0-1.803,1.219-3.123,2.92-3.123c1.612,0,2.641,1.016,2.641,2.615v8.963h2.704v-8.557c0-1.765,1.193-3.021,2.882-3.021
                            c1.714,0,2.691,1.041,2.691,2.844v8.734H979.363z M969.55,971.214c3.098,0,5.522-1.727,5.916-4.202h-2.628
                            c-0.381,1.206-1.638,1.968-3.237,1.968c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763v-0.965c0-4.177-2.387-6.805-6.17-6.805
                            c-3.859,0-6.373,2.806-6.373,7.122S965.551,971.214,969.55,971.214z M969.423,959.332c2.006,0,3.364,1.422,3.428,3.567h-6.995
                            C966.008,960.779,967.442,959.332,969.423,959.332z M951.192,1000.156c0,4.342,2.539,7.059,6.525,7.059s6.513-2.717,6.513-7.059
                            s-2.539-7.071-6.513-7.071S951.192,995.827,951.192,1000.156z M961.438,1000.156c0,3.009-1.384,4.773-3.72,4.773
                            s-3.732-1.765-3.732-4.773c0-2.996,1.396-4.786,3.732-4.786S961.438,997.147,961.438,1000.156z M969.309,987.905h-2.755v19.145
                            h2.755V987.905z M993.214,1043.049v-9.458c0-2.729-2.171-4.507-5.535-4.507c-3.098,0-5.408,1.803-5.484,4.24h2.577
                            c0.241-1.193,1.333-1.968,2.831-1.968c1.841,0,2.895,0.863,2.895,2.438v1.066l-3.72,0.216c-3.402,0.216-5.269,1.612-5.269,4.024
                            c0,2.463,1.904,4.088,4.659,4.088c1.879,0,3.593-0.939,4.354-2.438h0.063v2.298H993.214z M990.497,1037.87
                            c0,1.815-1.549,3.123-3.593,3.123c-1.587,0-2.615-0.762-2.615-1.942c0-1.219,0.978-1.917,2.856-2.031l3.352-0.229V1037.87z
                             M1020.572,988.73h-14.257v2.45h5.713v15.869h2.844V991.18h5.7V988.73z M1026.691,1031.433v-2.171h-2.641v-3.098h-2.742v3.098
                            h-1.904v2.171h1.904v7.985c0,2.666,1.066,3.72,3.821,3.72c0.597,0,1.244-0.063,1.549-0.14v-2.171
                            c-0.178,0.025-0.647,0.063-0.939,0.063c-1.155,0-1.688-0.559-1.688-1.752v-7.706H1026.691z M1012.714,1041.107
                            c-1.752,0-2.818-0.724-3.034-2.044h-2.717c0.203,2.488,2.399,4.151,5.611,4.151c3.339,0,5.675-1.701,5.675-4.164
                            c0-2.031-1.028-3.034-3.809-3.707l-2.285-0.546c-1.46-0.355-2.146-0.927-2.146-1.765c0-1.092,1.041-1.815,2.603-1.815
                            c1.574,0,2.628,0.762,2.742,1.98h2.59c-0.063-2.399-2.247-4.101-5.269-4.101c-3.174,0-5.345,1.663-5.345,4.088
                            c0,1.904,1.231,3.174,3.72,3.783l2.463,0.609c1.447,0.368,1.993,0.825,1.993,1.701
                            C1015.507,1040.396,1014.428,1041.107,1012.714,1041.107z M994.268,963.077c-3.402,0.216-5.269,1.612-5.269,4.024
                            c0,2.463,1.904,4.088,4.659,4.088c1.879,0,3.593-0.939,4.354-2.438h0.063v2.298h2.628v-9.458c0-2.729-2.171-4.507-5.535-4.507
                            c-3.098,0-5.408,1.803-5.484,4.24h2.577c0.241-1.193,1.333-1.968,2.831-1.968c1.841,0,2.895,0.863,2.895,2.438v1.066
                            L994.268,963.077z M997.987,965.87c0,1.815-1.549,3.123-3.593,3.123c-1.587,0-2.615-0.762-2.615-1.942
                            c0-1.219,0.978-1.917,2.856-2.031l3.352-0.229V965.87z M1025.523,995.585h-0.063v-7.681h-2.729v19.145h2.755v-7.896
                            c0-2.209,1.295-3.682,3.44-3.682c2.019,0,3.047,1.244,3.047,3.301v8.277h2.755v-8.811c0-3.11-1.815-5.129-4.85-5.129
                            C1027.771,993.11,1026.349,993.96,1025.523,995.585z M1036.022,971.202c2.107,0,3.504-0.876,4.304-2.514h0.051v2.361h2.628v-13.787
                            h-2.755v7.947c0,2.184-1.257,3.618-3.313,3.618c-1.993,0-2.996-1.13-2.996-3.25v-8.315h-2.755v8.836
                            C1031.186,969.259,1033.014,971.202,1036.022,971.202z M1022.527,971.214c3.986,0,6.513-2.717,6.513-7.059s-2.539-7.071-6.513-7.071
                            s-6.525,2.742-6.525,7.071C1016.002,968.498,1018.541,971.214,1022.527,971.214z M1022.527,959.37c2.336,0,3.72,1.777,3.72,4.786
                            s-1.384,4.773-3.72,4.773s-3.732-1.765-3.732-4.773C1018.795,961.16,1020.191,959.37,1022.527,959.37z M1001.885,1043.049h2.755
                            v-13.787h-2.755V1043.049z M1003.269,1027.294c0.889,0,1.612-0.711,1.612-1.587c0-0.901-0.724-1.587-1.612-1.587
                            s-1.612,0.686-1.612,1.587C1001.656,1026.583,1002.38,1027.294,1003.269,1027.294z M1007.115,971.798
                            c-0.47,1.46-1.193,2.019-2.501,2.019c-0.241,0-0.673-0.013-0.876-0.063v2.234c0.216,0.038,0.889,0.076,1.117,0.076
                            c2.818,0,4.126-1.066,5.307-4.38l5.167-14.422h-2.895l-3.542,11.273h-0.063l-3.542-11.273h-2.958l5.002,13.825L1007.115,971.798z
                             M830.32,1024.121c-0.889,0-1.612,0.686-1.612,1.587c0,0.876,0.724,1.587,1.612,1.587s1.612-0.711,1.612-1.587
                            C831.933,1024.806,831.209,1024.121,830.32,1024.121z M351.08,695.644c1.34,0,2.393,0.827,2.666,2.092h1.518
                            c-0.26-2.058-1.948-3.432-4.184-3.432c-2.755,0-4.519,1.969-4.519,5.093c0,3.145,1.75,5.1,4.519,5.1c2.27,0,3.814-1.196,4.19-3.233
                            h-1.524c-0.308,1.189-1.285,1.894-2.659,1.894c-1.812,0-2.96-1.456-2.96-3.76C348.127,697.113,349.289,695.644,351.08,695.644z
                             M409.301,497.458h-7.224c-0.752,2.283-3.088,3.679-6.042,3.679c-4.136,0-6.902-2.874-6.902-7.144v-0.483h20.41v-2.417
                            c0-8.997-5.425-14.69-13.938-14.69c-8.674,0-14.207,6.016-14.207,15.415s5.505,15.173,14.502,15.173
                            C403.097,506.992,408.441,503.179,409.301,497.458z M395.685,482.258c3.625,0,6.15,2.524,6.284,6.392h-12.756
                            C389.481,484.863,392.113,482.258,395.685,482.258z M412.159,695.787v-1.319h-6.262v9.864h6.262v-1.326h-4.73v-3.063h4.478v-1.271
                            h-4.478v-2.885H412.159z M409.918,441.992c8.97,0,14.583-5.72,14.583-15.308c0-9.48-5.667-15.281-14.583-15.281
                            c-8.889,0-14.583,5.828-14.583,15.281C395.336,436.245,400.949,441.992,409.918,441.992z M409.918,417.419
                            c4.109,0,6.606,3.438,6.606,9.265c0,5.881-2.471,9.265-6.606,9.265s-6.633-3.384-6.633-9.265
                            C403.285,420.884,405.783,417.419,409.918,417.419z M423.767,704.332v-9.864h-1.531v9.864H423.767z M417.163,703.204
                            c-1.299,0-2.249-0.643-2.358-1.62h-1.511c0.096,1.784,1.572,2.912,3.76,2.912c2.338,0,3.808-1.155,3.808-3.001
                            c0-1.442-0.841-2.256-2.864-2.734l-1.087-0.267c-1.271-0.314-1.791-0.725-1.791-1.422c0-0.875,0.813-1.477,2.003-1.477
                            s2.003,0.595,2.092,1.579h1.49c-0.048-1.702-1.477-2.871-3.562-2.871c-2.105,0-3.589,1.169-3.589,2.871
                            c0,1.374,0.841,2.222,2.652,2.659l1.278,0.308c1.278,0.314,1.818,0.772,1.818,1.538
                            C419.303,702.562,418.407,703.204,417.163,703.204z M377.047,465.876h-7.842v16.086h-0.161c-1.477-3.276-4.78-5.398-9.05-5.398
                            c-7.358,0-12.139,5.828-12.139,15.093c0,9.319,4.753,15.173,12.112,15.173c4.351,0,7.761-2.148,9.211-5.398h0.134v5.049h7.734
                            V465.876z M362.572,500.493c-4.082,0-6.687-3.384-6.687-8.809c0-5.371,2.605-8.782,6.687-8.782c4.055,0,6.687,3.464,6.687,8.809
                            S366.627,500.493,362.572,500.493z M356.296,699.403c0,3.138,1.777,5.093,4.621,5.093c2.837,0,4.621-1.955,4.621-5.093
                            s-1.784-5.1-4.621-5.1C358.073,694.304,356.296,696.266,356.296,699.403z M363.966,699.403c0,2.297-1.176,3.746-3.049,3.746
                            s-3.056-1.449-3.056-3.746c0-2.304,1.183-3.753,3.056-3.753S363.966,697.1,363.966,699.403z M366.994,694.468v9.864h6.125v-1.326
                            h-4.594v-8.538H366.994z M391.535,697.482c0-1.839-1.265-3.015-3.295-3.015h-3.876v9.864h1.531v-3.794h2.16l2.01,3.794h1.771
                            l-2.215-4.033C390.824,699.896,391.535,698.815,391.535,697.482z M388.097,699.301h-2.201v-3.548h2.16
                            c1.183,0,1.907,0.67,1.907,1.771C389.963,698.651,389.279,699.301,388.097,699.301z M396.238,694.468v9.864h3.534
                            c2.939,0,4.669-1.832,4.669-4.949c0-3.11-1.729-4.915-4.669-4.915H396.238z M402.883,699.396c0,2.331-1.162,3.609-3.254,3.609
                            h-1.859v-7.219h1.859C401.721,695.787,402.883,697.072,402.883,699.396z M436.532,424.617c0-3.921,2.256-6.606,6.016-6.606
                            c3.706,0,5.532,2.229,5.532,6.15v17.322h7.842v-18.96c0-6.902-3.706-11.038-10.259-11.038c-4.539,0-7.546,1.987-9.238,5.72h-0.161
                            v-5.291h-7.573v29.568h7.842V424.617z M467.067,506.294c4.27,0,7.734-2.014,9.158-5.183h0.161v5.291c0,3.33-2.605,5.371-6.58,5.371
                            c-3.088,0-5.559-1.235-6.069-3.196h-7.734c0.403,5.317,5.854,8.728,13.616,8.728c8.889,0,14.609-4.458,14.609-11.494v-28.896h-7.734
                            v5.049h-0.134c-1.558-3.276-4.915-5.398-9.158-5.398c-7.493,0-12.166,5.774-12.166,15.039
                            C455.036,500.708,459.87,506.294,467.067,506.294z M469.699,482.903c4.082,0,6.714,3.438,6.714,8.755
                            c0,5.291-2.632,8.567-6.714,8.567s-6.633-3.223-6.633-8.594C463.065,486.287,465.644,482.903,469.699,482.903z M429.816,695.644
                            c1.285,0,2.249,0.704,2.618,1.928h1.572c-0.342-1.969-2.003-3.268-4.197-3.268c-2.81,0-4.58,1.941-4.58,5.052
                            c0,3.165,1.777,5.141,4.601,5.141c2.673,0,4.252-1.593,4.252-4.266v-1.005h-4.061v1.237h2.55v0.171
                            c-0.021,1.497-1.128,2.522-2.728,2.522c-1.88,0-3.049-1.456-3.049-3.814C426.795,697.024,427.93,695.644,429.816,695.644z
                             M497.387,489.617c0-3.921,2.256-6.606,6.016-6.606c3.706,0,5.532,2.229,5.532,6.15v17.322h7.842v-18.96
                            c0-6.902-3.706-11.038-10.259-11.038c-4.539,0-7.546,1.987-9.238,5.72h-0.161v-5.291h-7.573v29.568h7.842V489.617z M506.732,441.992
                            c7.761,0,12.917-4.377,13.374-11.252h-7.305c-0.51,3.25-2.686,5.049-5.989,5.049c-4.055,0-6.606-3.33-6.606-9.104
                            c0-5.667,2.551-9.104,6.58-9.104c3.411,0,5.559,2.175,5.989,5.237h7.305c-0.376-6.58-5.452-11.414-13.401-11.414
                            c-8.782,0-14.421,5.908-14.421,15.281C492.257,436.191,497.897,441.992,506.732,441.992z M474.586,441.992
                            c8.97,0,14.583-5.72,14.583-15.308c0-9.48-5.667-15.281-14.583-15.281c-8.889,0-14.583,5.828-14.583,15.281
                            C460.004,436.245,465.617,441.992,474.586,441.992z M474.586,417.419c4.109,0,6.606,3.438,6.606,9.265
                            c0,5.881-2.471,9.265-6.606,9.265s-6.633-3.384-6.633-9.265C467.953,420.884,470.451,417.419,474.586,417.419z M450.685,476.914
                            h-7.842v29.568h7.842V476.914z M413.249,485.615c0,4.324,2.874,7.197,8.433,8.459l5.452,1.235c2.686,0.645,3.706,1.45,3.706,2.981
                            c0,1.934-1.907,3.142-5.022,3.142c-3.25,0-5.264-1.396-5.64-3.894h-7.654c0.403,5.693,5.291,9.453,13.079,9.453
                            c7.734,0,13.025-3.787,13.025-9.534c0-4.404-2.363-6.687-8.298-8.03l-5.559-1.208c-2.659-0.618-3.948-1.611-3.948-3.088
                            c0-1.907,1.88-3.169,4.7-3.169c3.008,0,4.968,1.477,5.129,3.813h7.251c-0.107-5.64-4.968-9.373-12.273-9.373
                            C418.136,476.404,413.249,480.056,413.249,485.615z M446.764,465.5c-2.31,0-4.216,1.746-4.216,4.082s1.907,4.109,4.216,4.109
                            c2.336,0,4.243-1.772,4.243-4.109S449.101,465.5,446.764,465.5z M442.135,701.741h-0.055l-5.113-7.273h-1.388v9.864h1.49v-7.267
                            h0.062l5.113,7.267h1.381v-9.864h-1.49V701.741z M378.287,704.496c2.837,0,4.621-1.955,4.621-5.093s-1.784-5.1-4.621-5.1
                            c-2.844,0-4.621,1.962-4.621,5.1S375.443,704.496,378.287,704.496z M378.287,695.65c1.873,0,3.049,1.449,3.049,3.753
                            c0,2.297-1.176,3.746-3.049,3.746s-3.056-1.449-3.056-3.746C375.231,697.1,376.414,695.65,378.287,695.65z M157.438,55.998h-4.945
                            v18.648h4.945V55.998z M154.966,53.965c1.474,0,2.676-1.118,2.676-2.592c0-1.473-1.202-2.574-2.676-2.574
                            c-1.457,0-2.659,1.101-2.659,2.574C152.307,52.847,153.509,53.965,154.966,53.965z M165.819,64.009c0-2.473,1.423-4.167,3.794-4.167
                            c2.337,0,3.489,1.406,3.489,3.879v10.924h4.946V62.688c0-4.353-2.337-6.961-6.47-6.961c-2.863,0-4.76,1.253-5.827,3.607h-0.102
                            v-3.336h-4.776v18.648h4.946V64.009z M182.629,69.615c0,3.642,1.693,5.098,6.013,5.098c0.999,0,1.88-0.102,2.388-0.204v-3.658
                            c-0.305,0.051-0.796,0.084-1.236,0.084c-1.508,0-2.219-0.694-2.219-2.134v-9.062h3.456v-3.743h-3.456v-4.149h-4.945v4.149h-2.524
                            v3.743h2.524V69.615z M126.693,63.433c0-2.117,1.355-3.608,3.303-3.608c1.914,0,3.065,1.203,3.065,3.201v11.619h4.776v-11.28
                            c0-2.117,1.304-3.54,3.252-3.54c2.016,0,3.117,1.203,3.117,3.388v11.433h4.945V61.977c0-3.76-2.456-6.25-6.114-6.25
                            c-2.71,0-4.945,1.474-5.792,3.811h-0.102c-0.626-2.439-2.523-3.811-5.2-3.811c-2.49,0-4.522,1.406-5.318,3.659h-0.102v-3.388h-4.776
                            v18.648h4.946V63.433z M279.177,1019.741h-32.484v6.273h32.484V1019.741z M61.781,64.348h11.009v10.298h5.115v-24.44h-5.115v9.925
                            H61.781v-9.925h-5.115v24.44h5.115V64.348z M-4,1676v199h1450v-199H-4z M110.491,74.967c4.539,0,7.91-2.405,8.452-6.013h-4.556
                            c-0.474,1.439-1.948,2.32-3.811,2.32c-2.608,0-4.353-1.812-4.353-4.505v-0.305h12.872V64.94c0-5.674-3.421-9.265-8.79-9.265
                            c-5.471,0-8.96,3.794-8.96,9.722C101.345,71.326,104.817,74.967,110.491,74.967z M110.356,59.368c2.286,0,3.878,1.592,3.963,4.031
                            h-8.045C106.443,61.011,108.103,59.368,110.356,59.368z M88.21,74.917c2.829,0,4.658-1.304,5.606-3.642h0.102v3.371h4.776V55.998
                            h-4.946v10.62c0,2.524-1.439,4.184-3.743,4.184c-2.287,0-3.54-1.355-3.54-3.879V55.998H81.52v11.958
                            C81.52,72.291,84.179,74.917,88.21,74.917z M369.825,49.726h0.062L375,56.992h1.381v-9.864h-1.49v7.273h-0.055l-5.113-7.273h-1.388
                            v9.864h1.49V49.726z M367.076,47.128h-1.531v9.864h1.531V47.128z M267.339,1016.217c7.648,0,12.246-4.49,12.246-11.666
                            s-4.576-11.666-12.246-11.666c-7.584,0-12.225,4.533-12.225,11.666C255.115,1011.663,259.777,1016.217,267.339,1016.217z
                             M267.339,999.266c4.705,0,7.412,1.977,7.412,5.285s-2.707,5.307-7.412,5.307c-4.641,0-7.412-1.998-7.412-5.307
                            C259.927,1001.264,262.677,999.266,267.339,999.266z M369.931,430.203l-11.011-27.473h-9.399v38.752h7.224v-26.157h0.215
                            l10.527,25.781h5.103l10.527-25.781h0.215v26.157h7.224v-38.752h-9.399l-11.011,27.473H369.931z M347.128,49.732h0.048l2.98,7.185
                            h1.135l2.974-7.185h0.048v7.26h1.401v-9.864h-1.777l-3.186,7.786h-0.055l-3.192-7.786h-1.771v9.864h1.395V49.732z M532.084,424.697
                            c0-3.975,2.283-6.687,6.15-6.687c3.733,0,5.667,2.336,5.667,6.204v17.268h7.842v-18.906c0-6.848-3.787-11.091-10.339-11.091
                            c-4.512,0-7.627,1.987-9.292,5.72h-0.161v-16.328h-7.708v40.605h7.842V424.697z M358.736,54.326h3.76l0.902,2.666h1.62l-3.562-9.864
                            h-1.654l-3.562,9.864h1.593L358.736,54.326z M360.595,48.769h0.041l1.47,4.327h-2.98L360.595,48.769z M247.638,1069.176
                            c0,8.98,6.037,14.674,16.027,14.674c10.012,0,16.049-5.65,16.049-14.674c0-7.605-4.383-12.912-11.301-13.643v6.316
                            c3.674,0.688,5.93,3.459,5.93,7.305c0,4.963-4.082,8.078-10.699,8.078c-6.531,0-10.635-3.158-10.635-8.057
                            c0-3.781,2.492-6.703,6.295-7.305v-6.316C252.365,1056.049,247.638,1061.721,247.638,1069.176z M262.484,973.635
                            c3.459,0,5.758-2.299,6.768-6.746l0.988-4.361c0.516-2.148,1.16-2.965,2.385-2.965c1.547,0,2.514,1.525,2.514,4.018
                            c0,2.6-1.117,4.211-3.115,4.512v6.123c4.555-0.322,7.563-4.232,7.563-10.463c0-6.188-3.029-10.42-7.627-10.42
                            c-3.523,0-5.35,1.891-6.424,6.639l-0.967,4.447c-0.494,2.127-1.289,3.158-2.471,3.158c-1.525,0-2.535-1.504-2.535-3.76
                            c0-2.406,1.182-3.975,3.051-4.104v-5.801c-4.512,0.086-7.498,3.975-7.498,9.818C255.115,969.725,258.037,973.635,262.484,973.635z
                             M255.523,983.475v6.059h23.654v-6.273h-13.234c-3.309,0-5.285-1.869-5.285-5.049c0-0.924,0.15-1.783,0.365-2.32h-5.543
                            c-0.15,0.451-0.236,1.096-0.236,1.826c0,2.793,1.59,4.834,4.512,5.629v0.129H255.523z M279.585,1041.204
                            c0-7.176-4.576-11.666-12.246-11.666c-7.584,0-12.225,4.533-12.225,11.666c0,7.111,4.662,11.666,12.225,11.666
                            C274.988,1052.87,279.585,1048.379,279.585,1041.204z M259.927,1041.204c0-3.287,2.75-5.285,7.412-5.285
                            c4.705,0,7.412,1.977,7.412,5.285s-2.707,5.307-7.412,5.307C262.699,1046.51,259.927,1044.512,259.927,1041.204z M564.767,424.939
                            c0-4.136,2.336-6.606,6.311-6.606c1.155,0,2.229,0.188,2.9,0.457v-6.929c-0.564-0.188-1.37-0.295-2.283-0.295
                            c-3.491,0-6.042,1.987-7.036,5.64h-0.161v-5.291h-7.573v29.568h7.842V424.939z M803.521,1043.049v-19.145h-2.742v7.643h-0.063
                            c-0.787-1.523-2.361-2.425-4.342-2.425c-3.428,0-5.789,2.78-5.789,7.021c0,4.266,2.361,7.046,5.814,7.046
                            c2.019,0,3.593-0.914,4.405-2.476h0.051v2.336H803.521z M797.097,1040.853c-2.234,0-3.694-1.841-3.694-4.697
                            c0-2.844,1.473-4.697,3.694-4.697c2.209,0,3.694,1.892,3.694,4.697C800.791,1038.974,799.306,1040.853,797.097,1040.853z
                             M795.764,1007.189c1.879,0,3.593-0.939,4.354-2.438h0.063v2.298h2.628v-9.458c0-2.729-2.171-4.507-5.535-4.507
                            c-3.098,0-5.408,1.803-5.484,4.24h2.577c0.241-1.193,1.333-1.968,2.831-1.968c1.841,0,2.895,0.863,2.895,2.438v1.066l-3.72,0.216
                            c-3.402,0.216-5.269,1.612-5.269,4.024C791.104,1005.564,793.009,1007.189,795.764,1007.189z M796.741,1001.019l3.352-0.229v1.079
                            c0,1.815-1.549,3.123-3.593,3.123c-1.587,0-2.615-0.762-2.615-1.942C793.885,1001.832,794.862,1001.133,796.741,1001.019z
                             M807.063,991.294c0.889,0,1.612-0.711,1.612-1.587c0-0.901-0.724-1.587-1.612-1.587s-1.612,0.686-1.612,1.587
                            C805.45,990.583,806.174,991.294,807.063,991.294z M809.462,963.089c0-2.171,1.244-3.618,3.326-3.618
                            c2.019,0,2.983,1.168,2.983,3.263v8.315h2.755v-8.836c0-3.174-1.739-5.104-4.786-5.104c-2.133,0-3.517,0.851-4.354,2.476h-0.051
                            v-2.323h-2.628v13.787h2.755V963.089z M797.985,971.214c3.986,0,6.513-2.717,6.513-7.059s-2.539-7.071-6.513-7.071
                            s-6.525,2.742-6.525,7.071C791.46,968.498,793.999,971.214,797.985,971.214z M797.985,959.37c2.336,0,3.72,1.777,3.72,4.786
                            s-1.384,4.773-3.72,4.773s-3.732-1.765-3.732-4.773C794.253,961.16,795.649,959.37,797.985,959.37z M786.598,959.585h-0.051v-2.323
                            h-2.628v13.787h2.755v-8.227c0-1.942,1.143-3.199,2.958-3.199c0.546,0,1.028,0.076,1.257,0.165v-2.577
                            c-0.216-0.051-0.559-0.089-0.965-0.089C788.299,957.123,787.029,958.049,786.598,959.585z M766.958,1005.107
                            c-1.752,0-2.818-0.724-3.034-2.044h-2.717c0.203,2.488,2.399,4.151,5.611,4.151c3.339,0,5.675-1.701,5.675-4.164
                            c0-2.031-1.028-3.034-3.809-3.707l-2.285-0.546c-1.46-0.355-2.146-0.927-2.146-1.765c0-1.092,1.041-1.815,2.603-1.815
                            c1.574,0,2.628,0.762,2.742,1.98h2.59c-0.063-2.399-2.247-4.101-5.269-4.101c-3.174,0-5.345,1.663-5.345,4.088
                            c0,1.904,1.231,3.174,3.72,3.783l2.463,0.609c1.447,0.368,1.993,0.825,1.993,1.701
                            C769.751,1004.396,768.672,1005.107,766.958,1005.107z M773.813,1043.049v-13.787h-2.755v7.947c0,2.184-1.257,3.618-3.313,3.618
                            c-1.993,0-2.996-1.13-2.996-3.25v-8.315h-2.755v8.836c0,3.161,1.828,5.104,4.837,5.104c2.107,0,3.504-0.876,4.304-2.514h0.051v2.361
                            H773.813z M779.374,1007.138c0.597,0,1.244-0.063,1.549-0.14v-2.171c-0.178,0.025-0.647,0.063-0.939,0.063
                            c-1.155,0-1.688-0.559-1.688-1.752v-7.706h2.641v-2.171h-2.641v-3.098h-2.742v3.098h-1.904v2.171h1.904v7.985
                            C775.553,1006.084,776.619,1007.138,779.374,1007.138z M788.451,1043.049v-8.836c0-3.174-1.739-5.104-4.786-5.104
                            c-2.133,0-3.517,0.851-4.354,2.476h-0.051v-2.323h-2.628v13.787h2.755v-7.96c0-2.171,1.244-3.618,3.326-3.618
                            c2.019,0,2.983,1.168,2.983,3.263v8.315H788.451z M826.512,1031.433v-2.171h-2.641v-3.098h-2.742v3.098h-1.904v2.171h1.904v7.985
                            c0,2.666,1.066,3.72,3.821,3.72c0.597,0,1.244-0.063,1.549-0.14v-2.171c-0.178,0.025-0.647,0.063-0.939,0.063
                            c-1.155,0-1.688-0.559-1.688-1.752v-7.706H826.512z M825.306,1000.207c0,4.316,2.488,7.008,6.487,7.008
                            c3.098,0,5.522-1.727,5.916-4.202h-2.628c-0.381,1.206-1.638,1.968-3.237,1.968c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763
                            v-0.965c0-4.177-2.387-6.805-6.17-6.805C827.819,993.084,825.306,995.89,825.306,1000.207z M835.094,998.899h-6.995
                            c0.152-2.12,1.587-3.567,3.567-3.567C833.672,995.332,835.03,996.753,835.094,998.899z M833.989,1036.156
                            c0,4.342,2.539,7.059,6.525,7.059s6.513-2.717,6.513-7.059s-2.539-7.071-6.513-7.071S833.989,1031.827,833.989,1036.156z
                             M844.234,1036.156c0,3.009-1.384,4.773-3.72,4.773s-3.732-1.765-3.732-4.773c0-2.996,1.396-4.786,3.732-4.786
                            S844.234,1033.147,844.234,1036.156z M845.25,1007.189c2.019,0,3.593-0.914,4.405-2.476h0.051v2.336h2.666v-19.145h-2.742v7.643
                            h-0.063c-0.787-1.523-2.361-2.425-4.342-2.425c-3.428,0-5.789,2.78-5.789,7.021C839.436,1004.409,841.797,1007.189,845.25,1007.189z
                             M845.948,995.458c2.209,0,3.694,1.892,3.694,4.697c0,2.818-1.485,4.697-3.694,4.697c-2.234,0-3.694-1.841-3.694-4.697
                            C842.254,997.312,843.727,995.458,845.948,995.458z M847.535,971.011c1.955,0,3.58-0.889,4.38-2.374h0.063v2.272
                            c0,1.803-1.409,2.945-3.593,2.945c-1.688,0-2.971-0.673-3.275-1.739h-2.78c0.267,2.361,2.628,3.897,5.941,3.897
                            c3.974,0,6.449-2.031,6.449-5.319v-13.432h-2.666v2.285h-0.051c-0.851-1.523-2.45-2.425-4.405-2.425
                            c-3.529,0-5.814,2.729-5.814,6.982C841.784,968.307,844.095,971.011,847.535,971.011z M848.259,959.458
                            c2.234,0,3.72,1.866,3.72,4.659c0,2.78-1.485,4.608-3.72,4.608c-2.222,0-3.656-1.79-3.656-4.608
                            C844.603,961.287,846.037,959.458,848.259,959.458z M828.937,1043.049h2.755v-13.787h-2.755V1043.049z M826.41,971.011
                            c1.955,0,3.58-0.889,4.38-2.374h0.063v2.272c0,1.803-1.409,2.945-3.593,2.945c-1.688,0-2.971-0.673-3.275-1.739h-2.78
                            c0.267,2.361,2.628,3.897,5.941,3.897c3.974,0,6.449-2.031,6.449-5.319v-13.432h-2.666v2.285h-0.051
                            c-0.851-1.523-2.45-2.425-4.405-2.425c-3.529,0-5.814,2.729-5.814,6.982C820.659,968.307,822.97,971.011,826.41,971.011z
                             M827.134,959.458c2.234,0,3.72,1.866,3.72,4.659c0,2.78-1.485,4.608-3.72,4.608c-2.222,0-3.656-1.79-3.656-4.608
                            C823.478,961.287,824.912,959.458,827.134,959.458z M767.618,969.107c-1.752,0-2.818-0.724-3.034-2.044h-2.717
                            c0.203,2.488,2.399,4.151,5.611,4.151c3.339,0,5.675-1.701,5.675-4.164c0-2.031-1.028-3.034-3.809-3.707l-2.285-0.546
                            c-1.46-0.355-2.146-0.927-2.146-1.765c0-1.092,1.041-1.815,2.603-1.815c1.574,0,2.628,0.762,2.742,1.98h2.59
                            c-0.063-2.399-2.247-4.101-5.269-4.101c-3.174,0-5.345,1.663-5.345,4.088c0,1.904,1.231,3.174,3.72,3.783l2.463,0.609
                            c1.447,0.368,1.993,0.825,1.993,1.701C770.411,968.396,769.332,969.107,767.618,969.107z M808.434,993.262h-2.755v13.787h2.755
                            V993.262z M820.418,998.734v8.315h2.755v-8.836c0-3.174-1.739-5.104-4.786-5.104c-2.133,0-3.517,0.851-4.354,2.476h-0.051v-2.323
                            h-2.628v13.787h2.755v-7.96c0-2.171,1.244-3.618,3.326-3.618C819.453,995.471,820.418,996.639,820.418,998.734z M817.536,1043.049
                            v-9.458c0-2.729-2.171-4.507-5.535-4.507c-3.098,0-5.408,1.803-5.484,4.24h2.577c0.241-1.193,1.333-1.968,2.831-1.968
                            c1.841,0,2.895,0.863,2.895,2.438v1.066l-3.72,0.216c-3.402,0.216-5.269,1.612-5.269,4.024c0,2.463,1.904,4.088,4.659,4.088
                            c1.879,0,3.593-0.939,4.354-2.438h0.063v2.298H817.536z M814.819,1037.87c0,1.815-1.549,3.123-3.593,3.123
                            c-1.587,0-2.615-0.762-2.615-1.942c0-1.219,0.978-1.917,2.856-2.031l3.352-0.229V1037.87z M581.31,491.685
                            c0,9.561,5.613,15.308,14.583,15.308s14.583-5.72,14.583-15.308c0-9.48-5.667-15.281-14.583-15.281
                            C587.003,476.404,581.31,482.231,581.31,491.685z M602.499,491.685c0,5.881-2.471,9.265-6.606,9.265s-6.633-3.384-6.633-9.265
                            c0-5.801,2.498-9.265,6.633-9.265C600.001,482.419,602.499,485.857,602.499,491.685z M645.548,465.876v40.605h7.842v-9.856
                            l2.122-2.283l8.647,12.139h9.023l-11.924-16.865l11.387-12.703h-8.916l-10.232,11.951h-0.107v-22.988H645.548z M670.658,441.992
                            c7.197,0,12.542-3.813,13.401-9.534h-7.224c-0.752,2.283-3.088,3.679-6.042,3.679c-4.136,0-6.902-2.874-6.902-7.144v-0.483h20.41
                            v-2.417c0-8.997-5.425-14.69-13.938-14.69c-8.674,0-14.207,6.016-14.207,15.415S661.662,441.992,670.658,441.992z M670.443,417.258
                            c3.625,0,6.15,2.524,6.284,6.392h-12.756C664.24,419.863,666.872,417.258,670.443,417.258z M616.464,423.704
                            c0-3.357,2.148-5.72,5.237-5.72c3.035,0,4.861,1.907,4.861,5.076v18.423h7.573v-17.886c0-3.357,2.068-5.613,5.156-5.613
                            c3.196,0,4.941,1.907,4.941,5.371v18.127h7.842v-20.088c0-5.962-3.894-9.91-9.695-9.91c-4.297,0-7.842,2.336-9.185,6.042h-0.161
                            c-0.994-3.867-4.001-6.042-8.245-6.042c-3.948,0-7.17,2.229-8.433,5.801h-0.161v-5.371h-7.573v29.568h7.842V423.704z
                             M683.28,476.914h-7.842v18.96c0,6.875,4.216,11.038,10.608,11.038c4.485,0,7.385-2.068,8.889-5.774h0.161v5.344h7.573v-29.568
                            h-7.842v16.838c0,4.001-2.283,6.633-5.935,6.633c-3.625,0-5.613-2.148-5.613-6.15V476.914z M712.392,436.433
                            c-3.25,0-5.264-1.396-5.64-3.894h-7.654c0.403,5.693,5.291,9.453,13.079,9.453c7.734,0,13.025-3.787,13.025-9.534
                            c0-4.404-2.363-6.687-8.298-8.03l-5.559-1.208c-2.659-0.618-3.948-1.611-3.948-3.088c0-1.907,1.88-3.169,4.7-3.169
                            c3.008,0,4.968,1.477,5.129,3.813h7.251c-0.107-5.64-4.968-9.373-12.273-9.373c-7.493,0-12.38,3.652-12.38,9.211
                            c0,4.324,2.874,7.197,8.433,8.459l5.452,1.235c2.686,0.645,3.706,1.45,3.706,2.981C717.414,435.225,715.507,436.433,712.392,436.433
                            z M851.915,1031.585h-0.051v-2.323h-2.628v13.787h2.755v-7.96c0-2.171,1.244-3.618,3.326-3.618c2.019,0,2.983,1.168,2.983,3.263
                            v8.315h2.755v-8.836c0-3.174-1.739-5.104-4.786-5.104C854.137,1029.11,852.753,1029.96,851.915,1031.585z M589.85,441.992
                            c8.97,0,14.583-5.72,14.583-15.308c0-9.48-5.667-15.281-14.583-15.281c-8.889,0-14.583,5.828-14.583,15.281
                            C575.268,436.245,580.88,441.992,589.85,441.992z M589.85,417.419c4.109,0,6.606,3.438,6.606,9.265c0,5.881-2.471,9.265-6.606,9.265
                            s-6.633-3.384-6.633-9.265C583.217,420.884,585.714,417.419,589.85,417.419z M737.26,411.914h-7.842v29.568h7.842V411.914z
                             M628.092,482.581c3.411,0,5.559,2.175,5.989,5.237h7.305c-0.376-6.58-5.452-11.414-13.401-11.414
                            c-8.782,0-14.421,5.908-14.421,15.281c0,9.507,5.64,15.308,14.475,15.308c7.761,0,12.917-4.377,13.374-11.252h-7.305
                            c-0.51,3.25-2.686,5.049-5.989,5.049c-4.055,0-6.606-3.33-6.606-9.104C621.513,486.018,624.064,482.581,628.092,482.581z
                             M541.51,482.285h-0.161v-5.371h-7.573v29.568h7.842v-17.778c0-3.357,2.148-5.72,5.237-5.72c3.035,0,4.861,1.907,4.861,5.076v18.423
                            h7.573v-17.886c0-3.357,2.068-5.613,5.156-5.613c3.196,0,4.941,1.907,4.941,5.371v18.127h7.842v-20.088
                            c0-5.962-3.894-9.91-9.695-9.91c-4.297,0-7.842,2.336-9.185,6.042h-0.161c-0.994-3.867-4.001-6.042-8.245-6.042
                            C545.995,476.484,542.772,478.713,541.51,482.285z M776.213,954.165v3.098h-1.904v2.171h1.904v7.985c0,2.666,1.066,3.72,3.821,3.72
                            c0.597,0,1.244-0.063,1.549-0.14v-2.171c-0.178,0.025-0.647,0.063-0.939,0.063c-1.155,0-1.688-0.559-1.688-1.752v-7.706h2.641
                            v-2.171h-2.641v-3.098H776.213z M753.336,1029.084c-3.974,0-6.525,2.742-6.525,7.071c0,4.342,2.539,7.059,6.525,7.059
                            s6.513-2.717,6.513-7.059S757.31,1029.084,753.336,1029.084z M753.336,1040.929c-2.336,0-3.732-1.765-3.732-4.773
                            c0-2.996,1.396-4.786,3.732-4.786s3.72,1.777,3.72,4.786S755.672,1040.929,753.336,1040.929z M753.425,993.084
                            c-3.859,0-6.373,2.806-6.373,7.122s2.488,7.008,6.487,7.008c3.098,0,5.522-1.727,5.916-4.202h-2.628
                            c-0.381,1.206-1.638,1.968-3.237,1.968c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763v-0.965
                            C759.595,995.712,757.208,993.084,753.425,993.084z M749.845,998.899c0.152-2.12,1.587-3.567,3.567-3.567
                            c2.006,0,3.364,1.422,3.428,3.567H749.845z M790.229,995.789v-2.577c-0.216-0.051-0.559-0.089-0.965-0.089
                            c-1.625,0-2.895,0.927-3.326,2.463h-0.051v-2.323h-2.628v13.787h2.755v-8.227c0-1.942,1.143-3.199,2.958-3.199
                            C789.518,995.624,790,995.7,790.229,995.789z M775.609,441.992c7.197,0,12.542-3.813,13.401-9.534h-7.224
                            c-0.752,2.283-3.088,3.679-6.042,3.679c-4.136,0-6.902-2.874-6.902-7.144v-0.483h20.41v-2.417c0-8.997-5.425-14.69-13.938-14.69
                            c-8.674,0-14.207,6.016-14.207,15.415S766.613,441.992,775.609,441.992z M775.395,417.258c3.625,0,6.15,2.524,6.284,6.392h-12.756
                            C769.191,419.863,771.823,417.258,775.395,417.258z M707.987,476.914v39.236h7.842v-14.636h0.161
                            c1.611,3.357,4.915,5.317,9.185,5.317c7.412,0,12.031-5.747,12.031-15.146s-4.646-15.12-12.139-15.12
                            c-4.163,0-7.627,2.068-9.185,5.398h-0.161v-5.049H707.987z M722.462,482.903c4.055,0,6.714,3.464,6.714,8.782
                            c0,5.371-2.659,8.809-6.714,8.809c-4.001,0-6.66-3.464-6.66-8.782C715.802,486.421,718.461,482.903,722.462,482.903z
                             M744.806,433.506c0,5.774,2.686,8.083,9.534,8.083c1.584,0,2.981-0.161,3.787-0.322v-5.801c-0.483,0.081-1.262,0.134-1.96,0.134
                            c-2.39,0-3.518-1.101-3.518-3.384v-14.368h5.479v-5.935h-5.479v-6.58h-7.842v6.58h-4.001v5.935h4.001V433.506z M733.339,408.691
                            c2.336,0,4.243-1.772,4.243-4.109s-1.907-4.082-4.243-4.082c-2.31,0-4.216,1.746-4.216,4.082S731.029,408.691,733.339,408.691z
                             M740.336,1043.049h2.742v-11.616h2.628v-2.171h-2.653v-1.181c0.013-1.181,0.482-1.676,1.612-1.676c0.368,0,0.749,0.038,1.028,0.102
                            v-2.095c-0.444-0.076-0.901-0.127-1.396-0.127c-2.793,0-3.961,1.13-3.961,3.707v1.27h-1.904v2.171h1.904V1043.049z M739.511,993.262
                            v13.787h2.755v-8.227c0-1.942,1.143-3.199,2.958-3.199c0.546,0,1.028,0.076,1.257,0.165v-2.577
                            c-0.216-0.051-0.559-0.089-0.965-0.089c-1.625,0-2.895,0.927-3.326,2.463h-0.051v-2.323H739.511z M743.065,966.098h6.982
                            l1.676,4.951h3.009l-6.614-18.319h-3.072l-6.614,18.319h2.958L743.065,966.098z M746.519,955.777h0.076l2.729,8.036h-5.535
                            L746.519,955.777z' fill='#bec491'></path>
  <path fill='#0f0d21' class='fill-0' d='M987,1751v51.999h140V1751H987z M1125,1800.999H989V1753h136V1800.999z M834,1801.999h138v-50H834V1801.999z
                             M1031.49,1782.694c2.864,0,4.566-1.668,4.566-4.368v-1.299h-4.293v1.928h1.504l-0.014,0.137c-0.082,0.793-0.752,1.319-1.695,1.319
                            c-1.271,0-2.099-1.073-2.099-2.871c0-1.757,0.725-2.769,1.955-2.769c0.834,0,1.483,0.472,1.675,1.196h2.851
                            c-0.219-2.023-2.064-3.479-4.539-3.479c-3.042,0-4.895,1.859-4.895,5.093C1026.507,1780.855,1028.359,1782.694,1031.49,1782.694z
                             M1039.646,1780.562h3.008l0.513,1.962h3.09l-3.22-9.864h-3.637l-3.22,9.864h2.953L1039.646,1780.562z M1041.122,1774.936h0.055
                            l0.95,3.582h-1.955L1041.122,1774.936z M1053.912,1780.22h-3.869v-7.561h-2.898v9.864h6.768V1780.22z M1061.773,1780.22h-3.869
                            v-7.561h-2.898v9.864h6.768V1780.22z M1069.826,1780.22h-4.061v-1.586h3.808v-2.078h-3.808v-1.593h4.061v-2.304h-6.959v9.864h6.959
                            V1780.22z M1074.078,1779.215h0.95l1.559,3.309h3.24l-1.873-3.739c1.032-0.492,1.593-1.613,1.593-2.775
                            c0-2.112-1.354-3.35-3.985-3.35h-4.382v9.864h2.898V1779.215z M1074.078,1774.799h1.203c0.779,0,1.306,0.526,1.306,1.258
                            c0,0.745-0.499,1.244-1.313,1.244h-1.196V1774.799z M1083.197,1782.523h2.898v-3.124l3.37-6.74h-3.028l-1.729,3.999h-0.055
                            l-1.729-3.999h-3.097l3.37,6.74V1782.523z M358.069,1779.664h-0.102l-5.929-14.46h-3.288v18.319h2.59v-13.482h0.089l5.535,13.343
                            h2.107l5.522-13.343h0.089v13.482h2.603v-18.319h-3.301L358.069,1779.664z M376.287,1769.559c-3.974,0-6.525,2.742-6.525,7.071
                            c0,4.342,2.539,7.059,6.525,7.059s6.513-2.717,6.513-7.059S380.261,1769.559,376.287,1769.559z M376.287,1781.403
                            c-2.336,0-3.732-1.765-3.732-4.773c0-2.996,1.396-4.786,3.732-4.786s3.72,1.777,3.72,4.786S378.623,1781.403,376.287,1781.403z
                             M392.042,1769.584c-2.133,0-3.517,0.851-4.354,2.476h-0.051v-2.323h-2.628v13.787h2.755v-7.96c0-2.171,1.244-3.618,3.326-3.618
                            c2.019,0,2.983,1.168,2.983,3.263v8.315h2.755v-8.836C396.828,1771.514,395.089,1769.584,392.042,1769.584z M405.486,1769.559
                            c-3.974,0-6.525,2.742-6.525,7.071c0,4.342,2.539,7.059,6.525,7.059s6.513-2.717,6.513-7.059S409.46,1769.559,405.486,1769.559z
                             M405.486,1781.403c-2.336,0-3.732-1.765-3.732-4.773c0-2.996,1.396-4.786,3.732-4.786s3.72,1.777,3.72,4.786
                            S407.822,1781.403,405.486,1781.403z M420.086,1781.378c-2.209,0-3.707-1.777-3.707-4.748c0-2.895,1.473-4.748,3.694-4.748
                            c1.892,0,3.034,1.104,3.288,2.564h2.628c-0.241-2.653-2.425-4.888-5.941-4.888c-3.897,0-6.462,2.78-6.462,7.071
                            c0,4.367,2.577,7.059,6.487,7.059c3.313,0,5.624-1.917,5.941-4.799h-2.628C423.057,1780.502,421.876,1781.378,420.086,1781.378z
                             M435.295,1769.584c-2.107,0-3.529,0.851-4.354,2.476h-0.063v-7.681h-2.729v19.145h2.755v-7.896c0-2.209,1.295-3.682,3.44-3.682
                            c2.019,0,3.047,1.244,3.047,3.301v8.277h2.755v-8.811C440.145,1771.603,438.329,1769.584,435.295,1769.584z M445.578,1772.06h-0.051
                            v-2.323h-2.628v13.787h2.755v-8.227c0-1.942,1.143-3.199,2.958-3.199c0.546,0,1.028,0.076,1.257,0.165v-2.577
                            c-0.216-0.051-0.559-0.089-0.965-0.089C447.279,1769.597,446.01,1770.523,445.578,1772.06z M456.966,1769.559
                            c-3.974,0-6.525,2.742-6.525,7.071c0,4.342,2.539,7.059,6.525,7.059s6.513-2.717,6.513-7.059S460.939,1769.559,456.966,1769.559z
                             M456.966,1781.403c-2.336,0-3.732-1.765-3.732-4.773c0-2.996,1.396-4.786,3.732-4.786s3.72,1.777,3.72,4.786
                            S459.302,1781.403,456.966,1781.403z M480.528,1769.584c-1.968,0-3.593,1.016-4.316,2.679h-0.063
                            c-0.559-1.714-1.942-2.679-3.859-2.679c-1.803,0-3.288,0.939-3.923,2.488h-0.051v-2.336h-2.628v13.787h2.755v-8.455
                            c0-1.803,1.219-3.123,2.92-3.123c1.612,0,2.641,1.016,2.641,2.615v8.963h2.704v-8.557c0-1.765,1.193-3.021,2.882-3.021
                            c1.714,0,2.691,1.041,2.691,2.844v8.734h2.742v-9.395C485.022,1771.374,483.245,1769.584,480.528,1769.584z M493.528,1769.559
                            c-3.859,0-6.373,2.806-6.373,7.122s2.488,7.008,6.487,7.008c3.098,0,5.522-1.727,5.916-4.202h-2.628
                            c-0.381,1.206-1.638,1.968-3.237,1.968c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763v-0.965
                            C499.698,1772.187,497.312,1769.559,493.528,1769.559z M489.948,1775.373c0.152-2.12,1.587-3.567,3.567-3.567
                            c2.006,0,3.364,1.422,3.428,3.567H489.948z M514.78,1775.817l-2.285-0.546c-1.46-0.355-2.146-0.927-2.146-1.765
                            c0-1.092,1.041-1.815,2.603-1.815c1.574,0,2.628,0.762,2.742,1.98h2.59c-0.063-2.399-2.247-4.101-5.269-4.101
                            c-3.174,0-5.345,1.663-5.345,4.088c0,1.904,1.231,3.174,3.72,3.783l2.463,0.609c1.447,0.368,1.993,0.825,1.993,1.701
                            c0,1.117-1.079,1.828-2.793,1.828c-1.752,0-2.818-0.724-3.034-2.044h-2.717c0.203,2.488,2.399,4.151,5.611,4.151
                            c3.339,0,5.675-1.701,5.675-4.164C518.589,1777.493,517.561,1776.49,514.78,1775.817z M520.925,1783.523h2.755v-13.787h-2.755
                            V1783.523z M522.309,1764.595c-0.889,0-1.612,0.686-1.612,1.587c0,0.876,0.724,1.587,1.612,1.587s1.612-0.711,1.612-1.587
                            C523.921,1765.28,523.197,1764.595,522.309,1764.595z M530.167,1766.639h-2.742v3.098h-1.904v2.171h1.904v7.985
                            c0,2.666,1.066,3.72,3.821,3.72c0.597,0,1.244-0.063,1.549-0.14v-2.171c-0.178,0.025-0.647,0.063-0.939,0.063
                            c-1.155,0-1.688-0.559-1.688-1.752v-7.706h2.641v-2.171h-2.641V1766.639z M540.564,1769.559c-3.859,0-6.373,2.806-6.373,7.122
                            s2.488,7.008,6.487,7.008c3.098,0,5.522-1.727,5.916-4.202h-2.628c-0.381,1.206-1.638,1.968-3.237,1.968
                            c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763v-0.965C546.734,1772.187,544.348,1769.559,540.564,1769.559z M536.984,1775.373
                            c0.152-2.12,1.587-3.567,3.567-3.567c2.006,0,3.364,1.422,3.428,3.567H536.984z M564.508,1772.021h-0.063
                            c-0.787-1.523-2.361-2.425-4.342-2.425c-3.428,0-5.789,2.78-5.789,7.021c0,4.266,2.361,7.046,5.814,7.046
                            c2.019,0,3.593-0.914,4.405-2.476h0.051v2.336h2.666v-19.145h-2.742V1772.021z M560.826,1781.327c-2.234,0-3.694-1.841-3.694-4.697
                            c0-2.844,1.473-4.697,3.694-4.697c2.209,0,3.694,1.892,3.694,4.697C564.521,1779.448,563.035,1781.327,560.826,1781.327z
                             M575.921,1769.559c-3.859,0-6.373,2.806-6.373,7.122s2.488,7.008,6.487,7.008c3.098,0,5.522-1.727,5.916-4.202h-2.628
                            c-0.381,1.206-1.638,1.968-3.237,1.968c-2.26,0-3.758-1.574-3.758-3.961v-0.165h9.763v-0.965
                            C582.091,1772.187,579.704,1769.559,575.921,1769.559z M572.341,1775.373c0.152-2.12,1.587-3.567,3.567-3.567
                            c2.006,0,3.364,1.422,3.428,3.567H572.341z M591.181,1775.817l-2.285-0.546c-1.46-0.355-2.146-0.927-2.146-1.765
                            c0-1.092,1.041-1.815,2.603-1.815c1.574,0,2.628,0.762,2.742,1.98h2.59c-0.063-2.399-2.247-4.101-5.269-4.101
                            c-3.174,0-5.345,1.663-5.345,4.088c0,1.904,1.231,3.174,3.72,3.783l2.463,0.609c1.447,0.368,1.993,0.825,1.993,1.701
                            c0,1.117-1.079,1.828-2.793,1.828c-1.752,0-2.818-0.724-3.034-2.044h-2.717c0.203,2.488,2.399,4.151,5.611,4.151
                            c3.339,0,5.675-1.701,5.675-4.164C594.989,1777.493,593.961,1776.49,591.181,1775.817z M597.325,1783.523h2.755v-13.787h-2.755
                            V1783.523z M598.709,1764.595c-0.889,0-1.612,0.686-1.612,1.587c0,0.876,0.724,1.587,1.612,1.587s1.612-0.711,1.612-1.587
                            C600.321,1765.28,599.598,1764.595,598.709,1764.595z M612.648,1772.021h-0.051c-0.851-1.523-2.45-2.425-4.405-2.425
                            c-3.529,0-5.814,2.729-5.814,6.982c0,4.202,2.311,6.906,5.751,6.906c1.955,0,3.58-0.889,4.38-2.374h0.063v2.272
                            c0,1.803-1.409,2.945-3.593,2.945c-1.688,0-2.971-0.673-3.275-1.739h-2.78c0.267,2.361,2.628,3.897,5.941,3.897
                            c3.974,0,6.449-2.031,6.449-5.319v-13.432h-2.666V1772.021z M608.853,1781.2c-2.222,0-3.656-1.79-3.656-4.608
                            c0-2.831,1.435-4.659,3.656-4.659c2.234,0,3.72,1.866,3.72,4.659C612.572,1779.372,611.087,1781.2,608.853,1781.2z
                             M625.166,1769.584c-2.133,0-3.517,0.851-4.354,2.476h-0.051v-2.323h-2.628v13.787h2.755v-7.96c0-2.171,1.244-3.618,3.326-3.618
                            c2.019,0,2.983,1.168,2.983,3.263v8.315h2.755v-8.836C629.952,1771.514,628.213,1769.584,625.166,1769.584z M653.54,1769.584
                            c-1.968,0-3.593,1.016-4.316,2.679h-0.063c-0.559-1.714-1.942-2.679-3.859-2.679c-1.803,0-3.288,0.939-3.923,2.488h-0.051v-2.336
                            h-2.628v13.787h2.755v-8.455c0-1.803,1.219-3.123,2.92-3.123c1.612,0,2.641,1.016,2.641,2.615v8.963h2.704v-8.557
                            c0-1.765,1.193-3.021,2.882-3.021c1.714,0,2.691,1.041,2.691,2.844v8.734h2.742v-9.395
                            C658.034,1771.374,656.257,1769.584,653.54,1769.584z M666.692,1769.559c-3.974,0-6.525,2.742-6.525,7.071
                            c0,4.342,2.539,7.059,6.525,7.059s6.513-2.717,6.513-7.059S670.666,1769.559,666.692,1769.559z M666.692,1781.403
                            c-2.336,0-3.732-1.765-3.732-4.773c0-2.996,1.396-4.786,3.732-4.786s3.72,1.777,3.72,4.786S669.028,1781.403,666.692,1781.403z
                             M681.292,1781.378c-2.209,0-3.707-1.777-3.707-4.748c0-2.895,1.473-4.748,3.694-4.748c1.892,0,3.034,1.104,3.288,2.564h2.628
                            c-0.241-2.653-2.425-4.888-5.941-4.888c-3.897,0-6.462,2.78-6.462,7.071c0,4.367,2.577,7.059,6.487,7.059
                            c3.313,0,5.624-1.917,5.941-4.799h-2.628C684.263,1780.502,683.082,1781.378,681.292,1781.378z M701.033,1769.736h-3.237
                            l-5.675,5.954h-0.013v-11.312h-2.755v19.145h2.755v-5.002l1.193-1.168l4.761,6.17h3.174l-5.967-7.846L701.033,1769.736z
                             M711.723,1777.684c0,2.184-1.257,3.618-3.313,3.618c-1.993,0-2.996-1.13-2.996-3.25v-8.315h-2.755v8.836
                            c0,3.161,1.828,5.104,4.837,5.104c2.107,0,3.504-0.876,4.304-2.514h0.051v2.361h2.628v-13.787h-2.755V1777.684z M724.405,1769.597
                            c-1.917,0-3.618,0.939-4.393,2.425h-0.063v-2.285h-2.653v18.357h2.755v-6.83h0.051c0.825,1.523,2.387,2.399,4.367,2.399
                            c3.466,0,5.764-2.768,5.764-7.033C730.232,1772.352,727.922,1769.597,724.405,1769.597z M723.707,1781.327
                            c-2.196,0-3.669-1.879-3.682-4.697c0.013-2.806,1.498-4.697,3.682-4.697c2.234,0,3.707,1.854,3.707,4.697
                            C727.414,1779.486,725.941,1781.327,723.707,1781.327z M733.813,1780.337c-0.927,0-1.663,0.724-1.663,1.663
                            c0,0.927,0.736,1.663,1.663,1.663c0.939,0,1.663-0.736,1.663-1.663C735.476,1781.061,734.752,1780.337,733.813,1780.337z'></path>

  <path class='fill-1' d='M887.645,1782.523h-2.898v-9.864h4.382c2.632,0,3.985,1.237,3.985,3.35c0,1.162-0.561,2.283-1.593,2.775l1.873,3.739h-3.24
                                l-1.559-3.309h-0.95V1782.523z M887.645,1777.301h1.196c0.813,0,1.313-0.499,1.313-1.244c0-0.731-0.526-1.258-1.306-1.258h-1.203
                                V1777.301z' fill='#bec491'></path>
  <path class='fill-1'
        d='M901.241,1782.523h-6.959v-9.864h6.959v2.304h-4.061v1.593h3.808v2.078h-3.808v1.586h4.061V1782.523z'
        fill='#bec491'></path>
  <path class='fill-1' d='M908.59,1780.562h-3.008l-0.513,1.962h-2.953l3.22-9.864h3.637l3.22,9.864h-3.09L908.59,1780.562z M906.108,1778.518h1.955
                                l-0.95-3.582h-0.055L906.108,1778.518z' fill='#bec491'></path>
  <path class='fill-1' d='M917.299,1772.659c2.994,0,4.751,1.702,4.751,4.86s-1.764,5.004-4.751,5.004h-4.218v-9.864H917.299z M915.979,1780.22
                                h0.909c1.449,0,2.208-0.882,2.208-2.7c0-1.661-0.82-2.557-2.208-2.557h-0.909V1780.22z'
        fill='#bec491'></path>

  <image overflow='visible' width='5500' height='3799'
         xlink:href='https://huemint.com/assets/img/graphics/website-monochrome/webp/1600/stairs-industrial.webp'
         data-prefix='website-monochrome' data-filename='stairs-industrial'
         transform='matrix(0.1006 0 0 0.1006 738.0283 1120)'>
                        </image>
                        </svg>

<style>
  .fill-0 {
    fill: var(--preview-ground);
  }

  .fill-1 {
    fill: var(--preview-on-ground);
  }

  .d-lg-none {
    display: none;
  }

  [data-filename="stairs-industrial"] {
    opacity: 0.5;
  }
</style>
