<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'
     viewBox='0 0 3232 2030' enable-background='new 0 0 3232 2030' xml:space='preserve'
     style='display: block; width: 100%; height: auto;'>
                        <rect fill='#0f0d21' class='fill-0' width='3232' height='2030'></rect>

  <image overflow='visible' opacity='0.1' width='5500' height='4361'
         xlink:href='https://huemint.com/assets/img/graphics/website-monochrome/webp/600/shadow.webp'
         data-prefix='website-monochrome' data-filename='shadow' style='mix-blend-mode: multiply'
         transform='matrix(0.338 0 0 0.338 7.70803 326.70074)'></image>

  <image overflow='visible' opacity='0.1' width='5500' height='4361'
         xlink:href='https://huemint.com/assets/img/graphics/website-monochrome/webp/600/highlight.webp'
         data-prefix='website-monochrome' data-filename='highlight' style='mix-blend-mode: screen'
         transform='matrix(0.338 0 0 0.338 7.70803 326.70074)'></image>

  <text transform='matrix(1 0 0 1 133.93312 1918.92822)' class='fill-1 d-none d-lg-inline' font-family='Roboto'
        font-size='35.71429px' letter-spacing='-1' fill='#bec491'>Monochrome design mockup</text>
  <text transform='matrix(1 0 0 1 2294.35059 1619.53369)' class='fill-1 d-none d-lg-inline' opacity='0.35'
        fill='#bec491'><tspan x='0' y='0' font-family='Roboto' font-size='35.71429px'>A monochrome color design can </tspan>
    <tspan x='0' y='60.26758' font-family='Roboto' font-size='35.71429px'>work well with an elegant, minimalist </tspan>
    <tspan x='0' y='120.53516' font-family='Roboto' font-size='35.71429px'>style. Use lots of white space and </tspan>
    <tspan x='0' y='180.80273' font-family='Roboto' font-size='35.71429px'>thin fonts</tspan></text>
  <rect width='450' height='35' x='133' y='1892' class='fill-1 d-inline d-lg-none' fill='#bec491'></rect>
  <rect width='520' height='35' x='2294' y='1590' class='fill-1 d-inline d-lg-none' fill='#bec491'></rect>
  <rect width='600' height='35' x='2294' y='1650' class='fill-1 d-inline d-lg-none' fill='#bec491'></rect>
  <rect width='550' height='35' x='2294' y='1710' class='fill-1 d-inline d-lg-none' fill='#bec491'></rect>
  <rect width='150' height='35' x='2294' y='1770' class='fill-1 d-inline d-lg-none' fill='#bec491'></rect>
  <path class='fill-1' opacity='0.35' d='M1438.88428,117.18755h-0.12207l-7.12598-17.37988h-3.95215v22.01855h3.11279v-16.20459h0.10693
                            l6.65283,16.03662h2.5332l6.63721-16.03662h0.10693v16.20459h3.12793V99.80766h-3.96729L1438.88428,117.18755z M1460.33789,99.80766
                            l-7.9502,22.01855h3.55566l2.01416-5.95068h8.39209l2.01416,5.95068h3.6167l-7.9502-22.01855H1460.33789z M1458.82715,113.12846
                            l3.28076-9.65869h0.09131l3.28076,9.65869H1458.82715z M1474.40625,121.82622h3.41797V99.80766h-3.41797V121.82622z
                             M1496.5166,116.04301h-0.12207l-11.41357-16.23535h-3.09766v22.01855h3.32666V105.606h0.13721l11.41357,16.22021h3.08203V99.80766
                            h-3.32617V116.04301z M1663.76855,99.80766h-8.62158v22.01855h3.41797v-7.52246h5.09668c4.31787,0,7.36963-2.96045,7.36963-7.26318
                            C1671.03125,102.75249,1668.04102,99.80766,1663.76855,99.80766z M1662.86816,111.4351h-4.30322v-8.74316h4.30322
                            c2.97559,0,4.66895,1.58691,4.66895,4.36377S1665.82813,111.4351,1662.86816,111.4351z M1690.02832,106.53667
                            c0-4.10449-2.82275-6.729-7.35449-6.729h-8.65186v22.01855h3.41797v-8.46875h4.82178l4.48633,8.46875h3.95215l-4.94434-9.00244
                            C1688.44141,111.92339,1690.02832,109.51225,1690.02832,106.53667z M1682.35352,110.59575h-4.91357v-7.91943h4.82178
                            c2.63965,0,4.25732,1.49561,4.25732,3.95215C1686.51904,109.14604,1684.99316,110.59575,1682.35352,110.59575z M1702.8457,99.44145
                            c-6.34766,0-10.31494,4.37939-10.31494,11.3833s3.96729,11.36768,10.31494,11.36768c6.33252,0,10.31494-4.36377,10.31494-11.36768
                            S1709.17822,99.44145,1702.8457,99.44145z M1702.8457,119.18657c-4.18066,0-6.82031-3.23486-6.82031-8.36182
                            c0-5.14258,2.63965-8.37695,6.82031-8.37695c4.18115,0,6.80566,3.23438,6.80566,8.37695
                            C1709.65137,115.95171,1707.02686,119.18657,1702.8457,119.18657z M1724.2998,99.80766h-7.88867v22.01855h7.88867
                            c6.56152,0,10.42188-4.08936,10.42188-11.04736C1734.72168,103.83598,1730.86133,99.80766,1724.2998,99.80766z
                             M1723.97949,118.86577h-4.15039v-16.11328h4.15039c4.66943,0,7.26318,2.86914,7.26318,8.05664
                            C1731.24268,116.01274,1728.64893,118.86577,1723.97949,118.86577z M1752.3916,113.80034c0,3.14307-1.99902,5.35547-5.50879,5.35547
                            c-3.50928,0-5.49316-2.2124-5.49316-5.35547V99.80766h-3.41797v14.28223c0,4.74561,3.3877,8.10254,8.91113,8.10254
                            s8.91113-3.35693,8.91113-8.10254V99.80766h-3.40234V113.80034z M1769.16016,119.20171c-4.04297,0-6.60645-3.25-6.60645-8.39258
                            c0-5.09619,2.59375-8.37695,6.5918-8.37695c2.99023,0,5.33984,1.84668,5.95117,4.66943h3.38672
                            c-0.58008-4.59326-4.34863-7.66016-9.33789-7.66016c-6.14941,0-10.08594,4.39453-10.08594,11.36768
                            c0,7.01953,3.90625,11.3833,10.08594,11.3833c5.06543,0,8.51367-2.67041,9.35352-7.21729h-3.40234
                            C1774.40918,117.62993,1772.22754,119.20171,1769.16016,119.20171z M1779.36914,102.75249h6.86621v19.07373h3.41797v-19.07373
                            h6.85156v-2.94482h-17.13574V102.75249z M1808.81836,109.39018l-2.42578-0.59473c-2.83887-0.70215-3.99805-1.61768-3.99805-3.17383
                            c0-1.95313,1.81543-3.2959,4.4707-3.2959s4.4707,1.32715,4.66895,3.52441h3.32715c-0.10742-3.79932-3.2959-6.40869-7.9502-6.40869
                            c-4.69922,0-8.01074,2.60938-8.01074,6.40869c0,3.06738,1.87695,4.95898,5.91992,5.93555l2.85352,0.68701
                            c2.85352,0.70166,4.05957,1.72412,4.05957,3.43311c0,1.96826-1.99902,3.40283-4.77637,3.40283
                            c-2.89941,0-5.02051-1.43457-5.26465-3.6167h-3.37207c0.21387,3.98291,3.50977,6.50049,8.39258,6.50049
                            c5.21875,0,8.49902-2.57861,8.49902-6.69873C1815.21191,112.27397,1813.33496,110.45854,1808.81836,109.39018z M1968.63867,99.80766
                            l-7.9502,22.01855h3.55566l2.01367-5.95068h8.39258l2.01465,5.95068h3.61621l-7.9502-22.01855H1968.63867z M1967.12793,113.12846
                            l3.28027-9.65869h0.0918l3.28027,9.65869H1967.12793z M1998.71387,106.53667c0-4.10449-2.82324-6.729-7.35547-6.729h-8.65137
                            v22.01855h3.41797v-8.46875h4.82227l4.48535,8.46875h3.95215l-4.94336-9.00244
                            C1997.12695,111.92339,1998.71387,109.51225,1998.71387,106.53667z M1991.03809,110.59575h-4.91309v-7.91943h4.82227
                            c2.63965,0,4.25684,1.49561,4.25684,3.95215C1995.2041,109.14604,1993.67871,110.59575,1991.03809,110.59575z M2000.72852,102.75249
                            h6.86621v19.07373h3.41797v-19.07373h6.85156v-2.94482h-17.13574V102.75249z M2020.65625,121.82622h3.41797V99.80766h-3.41797
                            V121.82622z M2037.44043,119.20171c-4.04297,0-6.60645-3.25-6.60645-8.39258c0-5.09619,2.59375-8.37695,6.5918-8.37695
                            c2.99023,0,5.34082,1.84668,5.9502,4.66943h3.3877c-0.5791-4.59326-4.34863-7.66016-9.33789-7.66016
                            c-6.14941,0-10.08594,4.39453-10.08594,11.36768c0,7.01953,3.90625,11.3833,10.08594,11.3833
                            c5.06543,0,8.51465-2.67041,9.35352-7.21729h-3.40332C2042.68945,117.62993,2040.50781,119.20171,2037.44043,119.20171z
                             M2053.2793,99.80766h-3.41797v22.01855h13.67188v-2.96045h-10.25391V99.80766z M2066.46289,121.82622h13.97754v-2.96045h-10.55957
                            v-6.83594h9.99512v-2.83789h-9.99512v-6.43945h10.55957v-2.94482h-13.97754V121.82622z M2093.4707,109.39018l-2.42578-0.59473
                            c-2.83887-0.70215-3.99805-1.61768-3.99805-3.17383c0-1.95313,1.81543-3.2959,4.4707-3.2959s4.4707,1.32715,4.66895,3.52441h3.32715
                            c-0.10742-3.79932-3.2959-6.40869-7.9502-6.40869c-4.69922,0-8.01074,2.60938-8.01074,6.40869
                            c0,3.06738,1.87695,4.95898,5.91992,5.93555l2.85352,0.68701c2.85352,0.70166,4.05957,1.72412,4.05957,3.43311
                            c0,1.96826-1.99902,3.40283-4.77637,3.40283c-2.89941,0-5.02051-1.43457-5.26465-3.6167h-3.37207
                            c0.21387,3.98291,3.50977,6.50049,8.39258,6.50049c5.21875,0,8.49902-2.57861,8.49902-6.69873
                            C2099.86426,112.27397,2097.9873,110.45854,2093.4707,109.39018z' fill='#bec491'></path>
  <path class='fill-1' d='M1530.50684,1603.66162c0-4.34961-2.89941-7.01953-7.96533-7.01953h-9.09424v22.01855h4.6084v-8.05664h3.76855
                            l4.10449,8.05664h5.21875l-4.63867-8.74316C1529.04199,1608.92529,1530.50684,1606.48389,1530.50684,1603.66162z
                             M1522.09912,1607.26221h-4.04346v-7.01855h3.99756c2.28857,0,3.72314,1.37305,3.72314,3.50879
                            C1525.77637,1605.93506,1524.41846,1607.26221,1522.09912,1607.26221z M1437.85547,1615.22705
                            c-3.5249,0-5.7373-2.89844-5.7373-7.59863c0-4.63867,2.24316-7.55273,5.72168-7.55273c2.68555,0,4.76074,1.76953,5.18848,4.4707
                            h4.48584c-0.35107-4.92871-4.37939-8.28516-9.67432-8.28516c-6.37793,0-10.42139,4.28711-10.42139,11.38281
                            c0,7.11035,4.01318,11.39844,10.42139,11.39844c5.40186,0,9.1709-3.11328,9.68945-8.02637h-4.48584
                            C1442.55518,1613.62549,1440.58691,1615.22705,1437.85547,1615.22705z M1499.86719,1596.26123
                            c-6.53076,0-10.62012,4.37891-10.62012,11.39746c0,7.00391,4.08936,11.38379,10.62012,11.38379
                            c6.51563,0,10.62012-4.37988,10.62012-11.38379C1510.4873,1600.64014,1506.38281,1596.26123,1499.86719,1596.26123z
                             M1499.86719,1615.18115c-3.61621,0-5.92041-2.91406-5.92041-7.52246c0-4.62305,2.31934-7.55273,5.92041-7.55273
                            s5.90527,2.92969,5.90527,7.55273C1505.77246,1612.26709,1503.46826,1615.18115,1499.86719,1615.18115z M1544.10205,1605.87354
                            l-2.67041-0.56445c-2.53271-0.58008-3.60059-1.34277-3.60059-2.7002c0-1.63281,1.52539-2.7168,3.79932-2.7168
                            c2.3042,0,3.93652,1.12891,4.08936,2.99121h4.31836c-0.07666-3.98242-3.2959-6.62207-8.42285-6.62207
                            c-4.91357,0-8.42285,2.68555-8.42285,6.74414c0,3.21973,1.99854,5.2793,6.05762,6.14941l2.86865,0.625
                            c2.65479,0.5957,3.70752,1.38867,3.70752,2.82324c0,1.61719-1.67822,2.79199-4.13477,2.79199
                            c-2.44141,0-4.3335-1.19043-4.54736-3.00586h-4.43994c0.13721,4.13574,3.50928,6.65332,8.8042,6.65332
                            c5.4624,0,8.92627-2.70117,8.92627-6.97363C1550.43457,1608.7124,1548.51172,1606.81982,1544.10205,1605.87354z
                             M1478.48926,1596.64209h-4.60791v22.01855h14.23633v-3.81445h-9.62842V1596.64209z M1460.30127,1596.26123
                            c-6.53076,0-10.62012,4.37891-10.62012,11.39746c0,7.00391,4.08936,11.38379,10.62012,11.38379
                            c6.51514,0,10.62012-4.37988,10.62012-11.38379C1470.92139,1600.64014,1466.81641,1596.26123,1460.30127,1596.26123z
                             M1460.30127,1615.18115c-3.6167,0-5.92041-2.91406-5.92041-7.52246c0-4.62305,2.31934-7.55273,5.92041-7.55273
                            s5.90479,2.92969,5.90479,7.55273C1466.20605,1612.26709,1463.90234,1615.18115,1460.30127,1615.18115z M2752.08203,1083.9458
                            c-12.9043,0-21.31738,9.3291-21.31738,23.97754c0,14.64746,8.41309,24.02051,21.31738,24.02051s21.36133-9.37305,21.36133-24.02051
                            C2773.44336,1093.2749,2764.98633,1083.9458,2752.08203,1083.9458z M2752.08203,1126.75537
                            c-9.50391,0-15.43262-7.10547-15.43262-18.83203c0-11.68359,5.92871-18.83301,15.43262-18.83301
                            c9.54688,0,15.47559,7.10547,15.47559,18.83301C2767.55762,1119.6499,2761.62891,1126.75537,2752.08203,1126.75537z
                             M2727.01172,1084.46924h-5.79785l-10.6377,40.41211h-0.13086l-11.81348-40.41211h-5.8418l-11.77051,40.41211h-0.13086
                            l-10.63672-40.41211h-5.79883l13.38379,46.95117h6.05957l11.77051-39.10449h0.13086l11.77051,39.10449h6.05957
                            L2727.01172,1084.46924z M829.01221,1323.73877c0-18.22559-11.87061-30.875-29.61621-30.875
                            c-17.80566,0-29.61621,12.22949-29.61621,29.97559v36.09082h86.51025v-18.10547h-27.27783V1323.73877z M814.86328,1340.82471
                            h-30.75537v-13.18945c0-10.37109,5.51563-16.36621,15.34766-16.36621c9.89209,0,15.40771,6.05469,15.40771,16.42676V1340.82471z
                             M846.09814,1247.90674v-0.35938h10.19189v-16.90625h-45.26367c-13.18945,0-21.88232,11.09082-21.88232,28.05762
                            c0,16.48633,8.69287,27.87695,21.28271,28.35645v-16.00684c-4.7959-0.83887-8.15332-5.27539-8.15332-11.63086
                            c0-7.19434,3.47705-11.57031,9.83203-11.57031h4.37646l1.01953,16.48633c1.01904,16.84668,7.79346,26.01953,19.78369,26.01953
                            c11.81055,0,19.78418-9.53223,19.78418-22.24219C857.06934,1259.65771,852.99268,1251.50439,846.09814,1247.90674z
                             M836.38623,1272.90674c-4.85645,0-7.73389-3.89648-8.21338-11.21094l-0.95947-13.84863h4.85596
                            c7.19434,0,12.23047,6.47461,12.23047,14.56836C844.2998,1268.77002,841.24219,1272.90674,836.38623,1272.90674z
                             M470.02298,137.69975h-12.85889v10.78906h-6.56152v9.73193h6.56152v25.67334c0,9.46826,4.40381,13.25537,15.6333,13.25537
                            c2.59814,0,4.88818-0.26416,6.20898-0.52881v-9.51172c-0.79248,0.13232-2.06982,0.22021-3.21436,0.22021
                            c-3.91943,0-5.76904-1.80566-5.76904-5.54883v-23.55957h8.9834v-9.73193h-8.9834V137.69975z M856.29004,1200.9126h-90.64697
                            v17.50586h90.64697V1200.9126z M774.26172,1608.44958c-2.46613,0-4.46429,1.99841-4.46429,4.46472s1.99817,4.46472,4.46429,4.46472
                            c2.46545,0,4.46381-1.99841,4.46381-4.46472S776.72717,1608.44958,774.26172,1608.44958z M2787.04688,1092.79541h-0.17383v-8.32617
                            h-5.40625v46.95117h5.75488v-29.12109c0-7.58496,4.27246-12.81641,10.94238-12.81641c2.00488,0,3.66113,0.30469,4.44629,0.65332
                            v-5.71094c-0.74121-0.21777-2.13574-0.47949-3.66211-0.47949C2793.10645,1083.9458,2788.66016,1087.21533,2787.04688,1092.79541z
                             M883.63654,1608.44958c-4.93097,0-8.92853,3.99939-8.92853,8.92944c0,4.93018,3.99756,8.92957,8.92853,8.92957
                            c4.93079,0,8.92828-3.99939,8.92828-8.92957C892.56482,1612.44897,888.56732,1608.44958,883.63654,1608.44958z
                             M1091.22571,1608.44958c-2.46545,0-4.46423,1.99841-4.46423,4.46472s1.99878,4.46472,4.46423,4.46472
                            c2.4657,0,4.46448-1.99841,4.46448-4.46472S1093.69141,1608.44958,1091.22571,1608.44958z M2712.05957,1243.02783h5.75391v-65.65332
                            h-5.75391V1243.02783z M1444.83838,1243.02783l11.77051-39.10449h0.13086l11.77051,39.10449h6.05957l13.3833-46.95117h-5.79785
                            l-10.63721,40.41211h-0.13037l-11.81445-40.41211h-5.84131l-11.77051,40.41211h-0.13086l-10.63721-40.41211h-5.79785
                            l13.3833,46.95117H1444.83838z M986.31512,1608.44958c-2.46613,0-4.46429,1.99841-4.46429,4.46472s1.99817,4.46472,4.46429,4.46472
                            c2.46545,0,4.46381-1.99841,4.46381-4.46472S988.78058,1608.44958,986.31512,1608.44958z M428.4014,147.78423
                            c-7.44238,0-12.37451,3.2583-15.14844,9.37939h-0.26465v-8.6748h-12.41797v48.48438h12.8584v-27.65527
                            c0-6.4292,3.69922-10.83301,9.86426-10.83301c6.07715,0,9.07178,3.65527,9.07178,10.08447v28.40381h12.85889v-31.08984
                            C445.22366,154.56548,439.14651,147.78423,428.4014,147.78423z M836.14648,1128.79346v16.12793
                            c5.0957,1.67773,8.21338,6.89355,8.21338,13.48828c0,9.2334-6.41504,15.4082-15.94727,15.4082h-1.0791v-45.56348h-5.396
                            c-20.0835,0-32.79346,12.11035-32.79346,31.11523c0,19.36426,13.4292,31.71387,34.41211,31.71387
                            c20.9834,0,33.87305-12.29004,33.87305-32.37402C857.4292,1142.64307,848.91602,1130.7124,836.14648,1128.79346z
                             M816.48193,1173.63818c-8.45313-0.59961-14.26855-6.47559-14.26855-14.44824c0-8.09375,5.63574-13.72949,14.26855-14.0293
                            V1173.63818z M836.14648,971.0777v16.12793c5.0957,1.67871,8.21338,6.89355,8.21338,13.48828
                            c0,9.2334-6.41504,15.4082-15.94727,15.4082h-1.0791v-45.56348h-5.396c-20.0835,0-32.79346,12.11035-32.79346,31.11523
                            c0,19.36426,13.4292,31.71381,34.41211,31.71381c20.9834,0,33.87305-12.28998,33.87305-32.37396
                            C857.4292,984.92731,848.91602,972.99664,836.14648,971.0777z M816.48193,1015.92242
                            c-8.45313-0.59961-14.26855-6.47559-14.26855-14.44824c0-8.09375,5.63574-13.72949,14.26855-14.0293V1015.92242z
                             M2747.19727,1195.55322c-12.64258,0-20.9248,9.54785-20.9248,24.1084c0,14.77832,8.28223,23.88965,21.27344,23.88965
                            c10.20117,0,17.91797-5.79883,19.3125-13.81934h-5.71094c-1.39453,5.14355-6.4082,8.71875-13.4707,8.71875
                            c-9.3291,0-15.43262-6.53906-15.43262-17.17676v-0.30469h35.22461v-2.52832
                            C2767.46875,1204.49072,2759.53418,1195.55322,2747.19727,1195.55322z M2732.24414,1216.26123
                            c0.52344-9.3291,6.45215-15.60742,14.86621-15.60742c8.50098,0,14.25488,6.27832,14.34277,15.60742H2732.24414z
                             M1363.66309,1922.86279h2v-38.20605h-2V1922.86279z M1981.77344,1131.94385c10.20117,0,17.91797-5.79883,19.3125-13.81934h-5.71094
                            c-1.39453,5.14355-6.4082,8.71875-13.4707,8.71875c-9.3291,0-15.43262-6.53906-15.43262-17.17676v-0.30469h35.22461v-2.52832
                            c0-13.9502-7.93457-22.8877-20.27148-22.8877c-12.64258,0-20.9248,9.54785-20.9248,24.1084
                            C1960.5,1122.83252,1968.78223,1131.94385,1981.77344,1131.94385z M1981.33789,1089.04639
                            c8.50098,0,14.25488,6.27832,14.34277,15.60742h-29.20898C1966.99512,1095.32471,1972.92383,1089.04639,1981.33789,1089.04639z
                             M819.07422,99.80766h-3.41797v22.01855h3.41797V99.80766z M3083.90137,1617.82275v-0.13086
                            c5.85352-1.04688,9.71191-5.26465,9.71191-11.15039c0-7.25977-6.50684-12.32813-15.43457-12.32813
                            c-9.35156,0-15.59766,5.33008-16.15332,13.60254h6.89941c0.42578-4.64258,3.82617-7.58594,8.92773-7.58594
                            c5.59082,0,8.59961,2.91016,8.59961,7.29199c0,4.44727-3.49902,7.65137-8.59961,7.65137h-5.69043v5.75586h5.88672
                            c6.21289,0,10.07129,3.13867,10.07129,8.24023c0,4.61035-4.12012,7.88086-9.87598,7.88086
                            c-5.95117,0-9.67871-3.10742-10.13672-7.61914h-7.03027c0.45801,8.1416,6.99805,13.7334,17.16699,13.7334
                            c9.84277,0,17.33105-5.65723,17.33105-13.89746C3095.5752,1622.66162,3090.99707,1618.31299,3083.90137,1617.82275z
                             M1466.78174,681.71637c18.6582,0,32.95703,13.0791,32.95703,30.08008c0,12.12012-5.40576,21.10059-25.45898,42.2002
                            l-44.81494,47.69141v3.5752h80.12646v-4.09766h-73.6748v-0.34863l41.50195-44.03027
                            c20.66357-21.79785,26.67969-31.91113,26.67969-45.07715c0-19.26855-16.12988-34.00293-37.22949-34.00293
                            c-21.44824,0-37.22949,14.56055-37.83984,34.96191h4.35938C1433.91113,694.70758,1447.94873,681.71637,1466.78174,681.71637z
                             M385.19827,129.77299c-3.78711,0-6.91406,2.8623-6.91406,6.69336c0,3.83154,3.12695,6.73779,6.91406,6.73779
                            c3.83105,0,6.95801-2.90625,6.95801-6.73779C392.15628,132.6353,389.02933,129.77299,385.19827,129.77299z M825.20996,105.606
                            h0.13721l11.41357,16.22021h3.08203V99.80766h-3.32617v16.23535h-0.12207l-11.41357-16.23535h-3.09766v22.01855h3.32666V105.606z
                             M1822.21094,1102.29932c0-7.58496,4.27246-12.81641,10.94238-12.81641c2.00488,0,3.66113,0.30469,4.44629,0.65332v-5.71094
                            c-0.74121-0.21777-2.13574-0.47949-3.66211-0.47949c-5.8418,0-10.28809,3.26953-11.90137,8.84961h-0.17383v-8.32617h-5.40625
                            v46.95117h5.75488V1102.29932z M3097.05176,166.83354h-69.44238v6h69.44238V166.83354z M2375.75781,1131.42041h5.75391v-46.95117
                            h-5.75391V1131.42041z M3081.18066,189.15483h-53.57129v6h53.57129V189.15483z M3097.05176,144.51274h-69.44238v6h69.44238
                            V144.51274z M2378.63477,1075.18408c2.13574,0,3.87988-1.78809,3.87988-3.87988c0-2.17969-1.74414-3.92383-3.87988-3.92383
                            s-3.92383,1.74414-3.92383,3.92383C2374.71094,1073.396,2376.49902,1075.18408,2378.63477,1075.18408z M2606.8623,1103.82471
                            c0-8.76172,5.31836-14.73438,13.68848-14.73438c7.97754,0,12.51172,4.75195,12.51172,13.03418v29.2959h5.75391v-30.21094
                            c0-10.63672-6.32129-17.26367-16.65234-17.26367c-7.58594,0-12.86035,3.44434-15.47656,9.28613h-0.17383v-8.7627h-5.40625v46.95117
                            h5.75488V1103.82471z M1438.77881,1112.15186h26.41846l6.9751,19.26855h6.27734l-23.49707-62.90625h-5.9292l-23.54102,62.90625
                            h6.32129L1438.77881,1112.15186z M1451.85742,1075.88135h0.26123l11.29102,31.12598h-22.84326L1451.85742,1075.88135z
                             M2426.32813,1094.19092h-0.08691c-2.74707-6.14648-8.80664-10.24512-16.30469-10.24512
                            c-11.94434,0-19.96582,9.54785-19.96582,23.88965c0,14.21191,8.02148,23.80273,19.83496,23.80273
                            c7.49805,0,13.51465-4.1416,16.12988-10.20117h0.13086v9.54785c0,7.23633-5.79785,11.72656-14.5166,11.72656
                            c-7.01855,0-12.11914-2.79004-13.25293-6.97559h-6.01563c1.17676,7.19336,8.54395,12.03223,18.91992,12.03223
                            c12.55469,0,20.62012-6.45215,20.62012-17.21973v-46.0791h-5.49316V1094.19092z M2410.80859,1126.45068
                            c-8.98047,0-14.95313-7.41113-14.95313-18.61523c0-11.24707,5.97266-18.74512,14.95313-18.74512
                            c9.06738,0,15.25781,7.62891,15.25781,18.74512C2426.06641,1118.86475,2419.87598,1126.45068,2410.80859,1126.45068z
                             M225.93752,176.09966c0,6.56152-3.74316,10.87695-9.73193,10.87695c-5.94531,0-9.2041-3.52295-9.2041-10.08447v-28.40332h-12.8584
                            v31.08984c0,11.27344,6.91357,18.09912,17.39453,18.09912c7.354,0,12.10986-3.39063,14.57617-9.46777h0.26416v8.76318h12.41846
                            v-48.48438h-12.85889V176.09966z M269.01224,147.6519c-14.22414,0-23.29543,9.86426-23.29543,25.27734
                            c0,15.4126,9.02734,24.88086,23.7798,24.88086c11.80176,0,20.56543-6.25342,21.97461-15.6333h-11.84619
                            c-1.23291,3.74316-5.06396,6.0332-9.9082,6.0332c-6.78174,0-11.31738-4.71191-11.31738-11.71387v-0.79297h33.46777v-3.96289
                            C291.86722,156.98784,282.97171,147.6519,269.01224,147.6519z M258.53128,167.73296
                            c0.44043-6.20947,4.75635-10.48096,10.61328-10.48096c5.94482,0,10.08447,4.13916,10.30469,10.48096H258.53128z
                             M177.1631,1274.85986c-22.09033,0-40.06201,17.97266-40.06201,40.06348s17.97168,40.06348,40.06201,40.06348
                            s40.0625-17.97266,40.0625-40.06348S199.25343,1274.85986,177.1631,1274.85986z M177.1631,1352.98682
                            c-20.65198,0-37.50299-16.53687-38.03662-37.06348h37.7749v-2h-37.7749c0.53363-20.52661,17.38464-37.06348,38.03662-37.06348
                            c20.98779,0,38.0625,17.0752,38.0625,38.06348S198.15089,1352.98682,177.1631,1352.98682z M378.76859,196.97319h12.85889v-48.48438
                            h-12.85889V196.97319z M354.14212,147.78423c-7.0459,0-12.85889,3.83105-15.06055,9.9082h-0.26416
                            c-1.62939-6.34131-6.56152-9.9082-13.51953-9.9082c-6.47314,0-11.75781,3.65479-13.82715,9.51172h-0.26465v-8.80713h-12.41797
                            v48.48438h12.8584v-29.15234c0-5.50488,3.52295-9.37988,8.5874-9.37988c4.97607,0,7.9707,3.12646,7.9707,8.32275v30.20947h12.41846
                            v-29.32861c0-5.50439,3.39063-9.20361,8.45508-9.20361c5.24023,0,8.10254,3.12646,8.10254,8.80713v29.7251h12.85889v-32.93945
                            C370.03958,154.25737,363.65433,147.78423,354.14212,147.78423z M2845.90137,1084.46924h-7.14941l-23.41016,22.32031h-0.04395
                            v-41.02246h-5.75391v65.65332h5.75391v-18.30957l5.31836-4.83887l18.91992,23.14844h6.80078l-21.62207-26.67969
                            L2845.90137,1084.46924z M800.45752,115.87553h8.39209l2.01416,5.95068h3.6167l-7.9502-22.01855h-3.69238l-7.9502,22.01855h3.55566
                            L800.45752,115.87553z M804.60791,103.46977h0.09131l3.28076,9.65869h-6.65283L804.60791,103.46977z M774.54688,105.62163h0.10693
                            l6.65283,16.03662h2.5332l6.63721-16.03662h0.10693v16.20459h3.12793V99.80766h-3.96729l-7.11035,17.37988h-0.12207
                            l-7.12598-17.37988h-3.95215v22.01855h3.11279V105.62163z M142.78761,170.19878h28.62402v26.77441h13.29932v-63.54541h-13.29932
                            v25.80566h-28.62402v-25.80566H129.4883v63.54541h13.29932V170.19878z M803.53223,1123.10596v-8.93262h34.95215
                            c12.88965,0,18.04541-5.99512,18.04541-21.2832c0-3.53711-0.35986-6.6543-0.71924-8.45313h-12.94971
                            c0.17969,1.0791,0.2998,2.81738,0.2998,4.37695c0,5.33496-2.45801,7.85352-7.5542,7.85352h-32.07422v-12.23047H790.2832v12.23047
                            h-14.68848v17.50586h14.68848v8.93262H803.53223z M790.2832,1040.01807v12.23047h-14.68848v17.50586h14.68848v8.93262h13.24902
                            v-8.93262h34.95215c12.88965,0,18.04541-5.99512,18.04541-21.2832c0-3.53711-0.35986-6.6543-0.71924-8.45313h-12.94971
                            c0.17969,1.0791,0.2998,2.81738,0.2998,4.37695c0,5.33496-2.45801,7.85352-7.5542,7.85352h-32.07422v-12.23047H790.2832z
                             M3097.80664,1121.84326c0-22.08984-17.97266-40.06152-40.06348-40.06152s-40.0625,17.97168-40.0625,40.06152
                            c0,22.09082,17.97168,40.0625,40.0625,40.0625S3097.80664,1143.93408,3097.80664,1121.84326z M3057.74316,1159.90576
                            c-20.9873,0-38.0625-17.0752-38.0625-38.0625s17.0752-38.06152,38.0625-38.06152c20.65283,0,37.50439,16.53589,38.03809,37.06152
                            h-37.77637v2h37.77637C3095.24756,1143.3689,3078.396,1159.90576,3057.74316,1159.90576z M2145.91406,1231.25732v-30.3418h9.28516
                            v-4.83887h-9.28516v-11.24707h-5.75488v11.24707h-6.71289v4.83887h6.71289v30.55957c0,8.45801,3.13965,11.81445,10.89941,11.81445
                            c1.21973,0,3.74902-0.13086,4.35938-0.30566v-4.92578c-0.34961,0.04395-2.61621,0.1748-3.22656,0.1748
                            C2147.83203,1238.23291,2145.91406,1236.14014,2145.91406,1231.25732z M2123.89941,1131.42041h5.75391v-65.65332h-5.75391
                            V1131.42041z M2534.1416,1217.69971l-7.19336-1.74414c-5.97266-1.48242-8.7627-3.70508-8.7627-7.54199
                            c0-4.75098,4.70801-7.97754,10.98535-7.97754c6.62695,0,10.94238,3.53125,11.50977,8.84961h5.53613
                            c-0.47949-8.06445-7.36719-13.73242-16.87109-13.73242c-9.67773,0-16.87109,5.40625-16.87109,13.16602
                            c0,6.19043,4.01074,10.02637,12.11914,12.0752l7.93457,2.00586c6.36426,1.56934,8.7627,3.74902,8.7627,7.71582
                            c0,4.96973-4.88281,8.19629-11.90137,8.19629c-7.10645,0-11.77051-3.53125-12.46875-8.89355h-5.84082
                            c0.65332,7.97754,7.89063,13.73242,17.96094,13.73242c10.5498,0,18.09082-5.49316,18.09082-13.42773
                            C2547.13184,1223.45361,2543.55762,1220.05322,2534.1416,1217.69971z M2685.15918,1237.18604h-0.13086l-14.38574-41.10938h-6.19043
                            l17.65527,47.25586l-1.13281,3.18262c-2.17969,6.0166-4.44727,8.15234-8.7627,8.15234c-0.91602,0-2.09277-0.13086-2.79004-0.30469
                            v4.96973c0.69727,0.13086,1.96191,0.30469,2.87695,0.30469c7.58594,0,10.85547-3.05176,14.95313-14.03711l18.44043-49.52344
                            h-6.10352L2685.15918,1237.18604z M2159.42969,1083.9458c-12.9043,0-21.31738,9.3291-21.31738,23.97754
                            c0,14.64746,8.41309,24.02051,21.31738,24.02051s21.36133-9.37305,21.36133-24.02051
                            C2180.79102,1093.2749,2172.33398,1083.9458,2159.42969,1083.9458z M2159.42969,1126.75537
                            c-9.50391,0-15.43262-7.10547-15.43262-18.83203c0-11.68359,5.92871-18.83301,15.43262-18.83301
                            c9.54688,0,15.47559,7.10547,15.47559,18.83301C2174.90527,1119.6499,2168.97656,1126.75537,2159.42969,1126.75537z
                             M2479.86426,1243.02783h5.75391v-65.65332h-5.75391V1243.02783z M2496.86719,1243.02783h5.75391v-46.95117h-5.75391V1243.02783z
                             M2067.61426,1116.94678h-5.71094c-1.35156,6.14746-6.36426,9.80859-13.55762,9.80859
                            c-9.19824,0-15.30176-7.19238-15.30176-18.83203c0-11.42188,6.05957-18.83301,15.25781-18.83301
                            c7.49902,0,12.4248,4.40332,13.55859,10.15723h5.71094c-1.13379-8.2832-8.32715-15.30176-19.3125-15.30176
                            c-12.72949,0-21.09961,9.45996-21.09961,23.97754c0,14.82227,8.41309,24.02051,21.18652,24.02051
                            C2058.7207,1131.94385,2066.2627,1125.79639,2067.61426,1116.94678z M2028.76953,1205.79834h-0.08691
                            c-2.74707-6.14648-8.80664-10.24512-16.30469-10.24512c-11.94434,0-19.96582,9.54785-19.96582,23.88965
                            c0,14.21191,8.02148,23.80273,19.83496,23.80273c7.49805,0,13.51465-4.1416,16.12988-10.20117h0.13086v9.54785
                            c0,7.23633-5.79785,11.72656-14.5166,11.72656c-7.01855,0-12.11914-2.79004-13.25293-6.97559h-6.01563
                            c1.17676,7.19336,8.54395,12.03223,18.91992,12.03223c12.55469,0,20.62012-6.45215,20.62012-17.21973v-46.0791h-5.49316V1205.79834z
                             M2013.25,1238.05811c-8.98047,0-14.95313-7.41113-14.95313-18.61523c0-11.24707,5.97266-18.74512,14.95313-18.74512
                            c9.06738,0,15.25781,7.62891,15.25781,18.74512C2028.50781,1230.47217,2022.31738,1238.05811,2013.25,1238.05811z
                             M2115.43945,1107.92334c0-14.64844-8.45703-23.97754-21.36133-23.97754s-21.31738,9.3291-21.31738,23.97754
                            c0,14.64746,8.41309,24.02051,21.31738,24.02051S2115.43945,1122.5708,2115.43945,1107.92334z M2078.64551,1107.92334
                            c0-11.68359,5.92871-18.83301,15.43262-18.83301c9.54688,0,15.47559,7.10547,15.47559,18.83301
                            c0,11.72656-5.92871,18.83203-15.47559,18.83203C2084.57422,1126.75537,2078.64551,1119.6499,2078.64551,1107.92334z
                             M2499.74414,1178.98779c-2.13574,0-3.92383,1.74414-3.92383,3.92383c0,2.0918,1.78809,3.87988,3.92383,3.87988
                            s3.87988-1.78809,3.87988-3.87988C2503.62402,1180.73193,2501.87988,1178.98779,2499.74414,1178.98779z M2062.07715,1195.55322
                            c-9.85254,0-17.26367,5.8418-17.74316,14.08105h5.53711c1.0459-5.58008,5.62305-8.93652,12.16309-8.93652
                            c7.58496,0,11.90039,3.9668,11.90039,10.81152v4.01074l-14.42969,0.95898c-11.24707,0.78418-17.2627,5.44922-17.2627,13.4707
                            c0,8.1084,6.36426,13.60156,15.7373,13.60156c7.19336,0,13.55762-3.79297,16.08594-9.50391h0.13086v8.98047h5.49316v-31.99805
                            C2079.68945,1201.56982,2072.84473,1195.55322,2062.07715,1195.55322z M2073.93457,1225.37256
                            c0,7.41016-6.4082,13.12109-14.82129,13.12109c-6.53906,0-10.98633-3.44336-10.98633-8.50098
                            c0-5.27441,4.18555-8.32617,12.07617-8.84961l13.73145-0.95898V1225.37256z M2209.95801,1084.42529
                            c-0.74121-0.21777-2.13574-0.47949-3.66211-0.47949c-5.8418,0-10.28809,3.26953-11.90137,8.84961h-0.17383v-8.32617h-5.40625
                            v46.95117h5.75488v-29.12109c0-7.58496,4.27246-12.81641,10.94238-12.81641c2.00488,0,3.66113,0.30469,4.44629,0.65332V1084.42529z
                             M2163.78906,1253.57764h4.5332l5.3623-18.91992h-6.14648L2163.78906,1253.57764z M2344.06055,1243.02783h5.75391v-46.95117
                            h-5.75391V1243.02783z M2367.25391,1118.51611c0-6.66992-3.57422-10.07031-12.99023-12.42383l-7.19336-1.74414
                            c-5.97266-1.48242-8.7627-3.70508-8.7627-7.54199c0-4.75098,4.70801-7.97754,10.98633-7.97754
                            c6.62598,0,10.94141,3.53125,11.50879,8.84961h5.53613c-0.47949-8.06445-7.36719-13.73242-16.87109-13.73242
                            c-9.67773,0-16.87109,5.40625-16.87109,13.16602c0,6.19043,4.01074,10.02637,12.11914,12.0752l7.93457,2.00586
                            c6.36426,1.56934,8.7627,3.74902,8.7627,7.71582c0,4.96973-4.88281,8.19629-11.90137,8.19629
                            c-7.10645,0-11.77051-3.53125-12.46875-8.89355h-5.84082c0.65332,7.97754,7.89063,13.73242,17.96094,13.73242
                            C2359.71289,1131.94385,2367.25391,1126.45068,2367.25391,1118.51611z M2316.85547,1195.55322
                            c-7.58594,0-12.86035,3.44434-15.47656,9.28613h-0.17383v-8.7627h-5.40625v46.95117h5.75488v-27.5957
                            c0-8.76172,5.31836-14.73438,13.68848-14.73438c7.97754,0,12.51172,4.75195,12.51172,13.03418v29.2959h5.75391v-30.21094
                            C2333.50781,1202.18018,2327.18652,1195.55322,2316.85547,1195.55322z M2346.9375,1178.98779
                            c-2.13574,0-3.92383,1.74414-3.92383,3.92383c0,2.0918,1.78809,3.87988,3.92383,3.87988s3.87988-1.78809,3.87988-3.87988
                            C2350.81738,1180.73193,2349.07324,1178.98779,2346.9375,1178.98779z M2324.92188,1118.12451h-5.71094
                            c-1.39453,5.14355-6.4082,8.71875-13.4707,8.71875c-9.3291,0-15.43262-6.53906-15.43262-17.17676v-0.30469h35.22461v-2.52832
                            c0-13.9502-7.93457-22.8877-20.27148-22.8877c-12.64258,0-20.9248,9.54785-20.9248,24.1084
                            c0,14.77832,8.28223,23.88965,21.27344,23.88965C2315.81055,1131.94385,2323.52734,1126.14502,2324.92188,1118.12451z
                             M2305.17383,1089.04639c8.50098,0,14.25488,6.27832,14.34277,15.60742h-29.20898
                            C2290.83105,1095.32471,2296.75977,1089.04639,2305.17383,1089.04639z M2253.50781,1195.55322
                            c-7.0625,0-12.64258,4.05469-14.86523,9.85254h-0.13086c-1.78809-5.92871-6.75781-9.85254-13.55859-9.85254
                            c-6.66992,0-11.68262,3.74902-13.68848,9.28613h-0.17383v-8.7627h-5.40625v46.95117h5.75488v-28.6416
                            c0-8.06445,5.0127-13.68848,11.98828-13.68848c6.45215,0,10.85449,4.49023,10.85449,11.2041v31.12598h5.75488v-29.33887
                            c0-7.58594,4.88281-12.99121,11.90137-12.99121c6.8877,0,10.94238,4.44629,10.94238,11.77051v30.55957h5.79785v-31.86719
                            C2268.67871,1201.65674,2262.66309,1195.55322,2253.50781,1195.55322z M2408.4502,1195.55322
                            c-7.0625,0-12.64258,4.05469-14.86523,9.85254h-0.13086c-1.78809-5.92871-6.75781-9.85254-13.55859-9.85254
                            c-6.66992,0-11.68262,3.74902-13.68848,9.28613h-0.17383v-8.7627h-5.40625v46.95117h5.75488v-28.6416
                            c0-8.06445,5.0127-13.68848,11.98828-13.68848c6.45215,0,10.85449,4.49023,10.85449,11.2041v31.12598h5.75488v-29.33887
                            c0-7.58594,4.88281-12.99121,11.90137-12.99121c6.8877,0,10.94238,4.44629,10.94238,11.77051v30.55957h5.79785v-31.86719
                            C2423.62109,1201.65674,2417.60547,1195.55322,2408.4502,1195.55322z M2270.12109,1094.104h-0.13086
                            c-2.52832-6.05957-8.54395-10.1582-16.12988-10.1582c-11.68359,0-19.96582,9.63477-19.96582,23.97754
                            c0,14.3418,8.32617,24.02051,20.09668,24.02051c7.62891,0,13.60156-4.1416,16.30469-10.50684h0.12988v9.9834h5.49316v-65.65332
                            h-5.79785V1094.104z M2254.90625,1126.75537c-8.98047,0-15.12695-7.49805-15.12695-18.83203
                            c0-11.29102,6.14648-18.83301,15.12695-18.83301c9.02441,0,15.25879,7.71582,15.25879,18.83301
                            C2270.16504,1119.12646,2263.93066,1126.75537,2254.90625,1126.75537z M2479.90723,1131.42041v-30.21094
                            c0-10.63672-6.32129-17.26367-16.65234-17.26367c-7.58594,0-12.86035,3.44434-15.47656,9.28613h-0.17383v-8.7627h-5.40625v46.95117
                            h5.75488v-27.5957c0-8.76172,5.31836-14.73438,13.68848-14.73438c7.97754,0,12.51172,4.75195,12.51172,13.03418v29.2959H2479.90723z
                             M2451.69922,1195.55322c-9.85254,0-17.26367,5.8418-17.74316,14.08105h5.53711c1.0459-5.58008,5.62305-8.93652,12.16309-8.93652
                            c7.58496,0,11.90039,3.9668,11.90039,10.81152v4.01074l-14.42969,0.95898c-11.24707,0.78418-17.2627,5.44922-17.2627,13.4707
                            c0,8.1084,6.36426,13.60156,15.7373,13.60156c7.19336,0,13.55762-3.79297,16.08594-9.50391h0.13086v8.98047h5.49316v-31.99805
                            C2469.31152,1201.56982,2462.4668,1195.55322,2451.69922,1195.55322z M2463.55664,1225.37256
                            c0,7.41016-6.4082,13.12109-14.82129,13.12109c-6.53906,0-10.98633-3.44336-10.98633-8.50098
                            c0-5.27441,4.18555-8.32617,12.07617-8.84961l13.73145-0.95898V1225.37256z M2282.10938,1178.98779
                            c-2.13574,0-3.92383,1.74414-3.92383,3.92383c0,2.0918,1.78809,3.87988,3.92383,3.87988s3.87988-1.78809,3.87988-3.87988
                            C2285.98926,1180.73193,2284.24512,1178.98779,2282.10938,1178.98779z M2279.23242,1243.02783h5.75391v-46.95117h-5.75391
                            V1243.02783z M2110.8623,1195.55322c-7.58594,0-12.86035,3.44434-15.47656,9.28613h-0.17383v-8.7627h-5.40625v46.95117h5.75488
                            v-27.5957c0-8.76172,5.31836-14.73438,13.68848-14.73438c7.97754,0,12.51172,4.75195,12.51172,13.03418v29.2959h5.75391v-30.21094
                            C2127.51465,1202.18018,2121.19336,1195.55322,2110.8623,1195.55322z M1966.4707,1195.55322
                            c-12.64258,0-20.9248,9.54785-20.9248,24.1084c0,14.77832,8.28223,23.88965,21.27344,23.88965
                            c10.20117,0,17.91797-5.79883,19.3125-13.81934h-5.71094c-1.39453,5.14355-6.4082,8.71875-13.4707,8.71875
                            c-9.3291,0-15.43262-6.53906-15.43262-17.17676v-0.30469h35.22461v-2.52832
                            C1986.74219,1204.49072,1978.80762,1195.55322,1966.4707,1195.55322z M1951.51758,1216.26123
                            c0.52344-9.3291,6.45215-15.60742,14.86621-15.60742c8.50098,0,14.25488,6.27832,14.34277,15.60742H1951.51758z
                             M1663.64893,1131.42041v-30.21094c0-10.63672-6.32129-17.26367-16.65332-17.26367c-7.58545,0-12.86035,3.44434-15.47607,9.28613
                            h-0.17432v-8.7627h-5.40576v46.95117h5.75488v-27.5957c0-8.76172,5.31836-14.73438,13.68848-14.73438
                            c7.97754,0,12.51172,4.75195,12.51172,13.03418v29.2959H1663.64893z M1662.4292,1178.98779
                            c-2.13623,0-3.92334,1.74414-3.92334,3.92383c0,2.0918,1.78711,3.87988,3.92334,3.87988s3.87988-1.78809,3.87988-3.87988
                            C1666.30908,1180.73193,1664.56543,1178.98779,1662.4292,1178.98779z M1659.55176,1243.02783h5.75439v-46.95117h-5.75439V1243.02783
                            z M1692.72852,1131.94385c12.90381,0,21.36133-9.37305,21.36133-24.02051c0-14.64844-8.45752-23.97754-21.36133-23.97754
                            s-21.31787,9.3291-21.31787,23.97754C1671.41064,1122.5708,1679.82471,1131.94385,1692.72852,1131.94385z M1692.72852,1089.09033
                            c9.54688,0,15.47607,7.10547,15.47607,18.83301c0,11.72656-5.9292,18.83203-15.47607,18.83203
                            c-9.50391,0-15.43262-7.10547-15.43262-18.83203C1677.2959,1096.23975,1683.22461,1089.09033,1692.72852,1089.09033z
                             M2621.77051,1217.69971l-7.19336-1.74414c-5.97266-1.48242-8.7627-3.70508-8.7627-7.54199
                            c0-4.75098,4.70801-7.97754,10.98535-7.97754c6.62695,0,10.94238,3.53125,11.50977,8.84961h5.53613
                            c-0.47949-8.06445-7.36719-13.73242-16.87109-13.73242c-9.67773,0-16.87109,5.40625-16.87109,13.16602
                            c0,6.19043,4.01074,10.02637,12.11914,12.0752l7.93457,2.00586c6.36426,1.56934,8.7627,3.74902,8.7627,7.71582
                            c0,4.96973-4.88281,8.19629-11.90137,8.19629c-7.10645,0-11.77051-3.53125-12.46875-8.89355h-5.84082
                            c0.65332,7.97754,7.89063,13.73242,17.96094,13.73242c10.5498,0,18.09082-5.49316,18.09082-13.42773
                            C2634.76074,1223.45361,2631.18652,1220.05322,2621.77051,1217.69971z M1513.11035,1238.45068
                            c-9.3291,0-15.43213-6.53906-15.43213-17.17676v-0.30469h35.22412v-2.52832c0-13.9502-7.93408-22.8877-20.27148-22.8877
                            c-12.64209,0-20.92529,9.54785-20.92529,24.1084c0,14.77832,8.2832,23.88965,21.27441,23.88965
                            c10.20068,0,17.91699-5.79883,19.31201-13.81934h-5.71094C1525.18604,1234.87549,1520.17285,1238.45068,1513.11035,1238.45068z
                             M1512.54395,1200.65381c8.50098,0,14.25537,6.27832,14.34229,15.60742h-29.20801
                            C1498.20117,1206.93213,1504.12988,1200.65381,1512.54395,1200.65381z M1547.11621,1177.37451h-5.75439v65.65332h5.75439V1177.37451
                            z M1684.40137,1231.25732v-30.3418h9.28564v-4.83887h-9.28564v-11.24707h-5.75439v11.24707h-6.71387v4.83887h6.71387v30.55957
                            c0,8.45801,3.13867,11.81445,10.89844,11.81445c1.2207,0,3.74902-0.13086,4.35938-0.30566v-4.92578
                            c-0.34863,0.04395-2.61572,0.1748-3.22607,0.1748C1686.31934,1238.23291,1684.40137,1236.14014,1684.40137,1231.25732z
                             M1558.36426,1243.02783h5.75439v-65.65332h-5.75439V1243.02783z M2651.11133,1231.25732v-30.3418h9.28516v-4.83887h-9.28516
                            v-11.24707h-5.75488v11.24707h-6.71289v4.83887h6.71289v30.55957c0,8.45801,3.13965,11.81445,10.89941,11.81445
                            c1.21973,0,3.74902-0.13086,4.35938-0.30566v-4.92578c-0.34961,0.04395-2.61621,0.1748-3.22656,0.1748
                            C2653.0293,1238.23291,2651.11133,1236.14014,2651.11133,1231.25732z M1552.30273,1083.9458
                            c-7.0625,0-12.64258,4.05469-14.86572,9.85254h-0.13086c-1.78711-5.92871-6.75684-9.85254-13.55762-9.85254
                            c-6.66992,0-11.68359,3.74902-13.68896,9.28613h-0.17432v-8.7627h-5.40576v46.95117h5.75488v-28.6416
                            c0-8.06445,5.01318-13.68848,11.98828-13.68848c6.45215,0,10.85498,4.49023,10.85498,11.2041v31.12598h5.75439v-29.33887
                            c0-7.58594,4.88281-12.99121,11.90137-12.99121c6.8877,0,10.94189,4.44629,10.94189,11.77051v30.55957h5.79834v-31.86719
                            C1567.47363,1090.04932,1561.45752,1083.9458,1552.30273,1083.9458z M1617.91602,1107.92334
                            c0-14.64844-8.45752-23.97754-21.36133-23.97754s-21.31787,9.3291-21.31787,23.97754c0,14.64746,8.41406,24.02051,21.31787,24.02051
                            S1617.91602,1122.5708,1617.91602,1107.92334z M1581.12207,1107.92334c0-11.68359,5.92871-18.83301,15.43262-18.83301
                            c9.54688,0,15.47607,7.10547,15.47607,18.83301c0,11.72656-5.9292,18.83203-15.47607,18.83203
                            C1587.05078,1126.75537,1581.12207,1119.6499,1581.12207,1107.92334z M1636.57422,1236.48877h-0.13037l-11.81445-40.41211h-5.84131
                            l-11.77051,40.41211h-0.13086l-10.63721-40.41211h-5.79785l13.3833,46.95117h6.05957l11.77051-39.10449h0.13086l11.77051,39.10449
                            h6.05957l13.38379-46.95117h-5.79834L1636.57422,1236.48877z M1931.33301,1243.02783h5.75391v-65.65332h-5.75391V1243.02783z
                             M1902.60156,1195.55322c-12.64258,0-20.9248,9.54785-20.9248,24.1084c0,14.77832,8.28223,23.88965,21.27344,23.88965
                            c10.20117,0,17.91797-5.79883,19.3125-13.81934h-5.71094c-1.39453,5.14355-6.4082,8.71875-13.4707,8.71875
                            c-9.3291,0-15.43262-6.53906-15.43262-17.17676v-0.30469h35.22461v-2.52832
                            C1922.87305,1204.49072,1914.93848,1195.55322,1902.60156,1195.55322z M1887.64844,1216.26123
                            c0.52344-9.3291,6.45215-15.60742,14.86621-15.60742c8.50098,0,14.25488,6.27832,14.34277,15.60742H1887.64844z
                             M2563.48242,1231.25732v-30.3418h9.28516v-4.83887h-9.28516v-11.24707h-5.75488v11.24707h-6.71289v4.83887h6.71289v30.55957
                            c0,8.45801,3.13965,11.81445,10.89941,11.81445c1.21973,0,3.74902-0.13086,4.35938-0.30566v-4.92578
                            c-0.34961,0.04395-2.61621,0.1748-3.22656,0.1748C2565.40039,1238.23291,2563.48242,1236.14014,2563.48242,1231.25732z
                             M1860.35742,1083.9458c-12.9043,0-21.31738,9.3291-21.31738,23.97754c0,14.64746,8.41309,24.02051,21.31738,24.02051
                            s21.36133-9.37305,21.36133-24.02051C1881.71875,1093.2749,1873.26172,1083.9458,1860.35742,1083.9458z M1860.35742,1126.75537
                            c-9.50391,0-15.43262-7.10547-15.43262-18.83203c0-11.68359,5.92871-18.83301,15.43262-18.83301
                            c9.54688,0,15.47559,7.10547,15.47559,18.83301C1875.83301,1119.6499,1869.9043,1126.75537,1860.35742,1126.75537z
                             M1946.93848,1131.42041h5.79785v-31.86719c0-9.50391-6.01563-15.60742-15.1709-15.60742
                            c-7.0625,0-12.64258,4.05469-14.86523,9.85254h-0.13086c-1.78809-5.92871-6.75781-9.85254-13.55859-9.85254
                            c-6.66992,0-11.68262,3.74902-13.68848,9.28613h-0.17383v-8.7627h-5.40625v46.95117h5.75488v-28.6416
                            c0-8.06445,5.0127-13.68848,11.98828-13.68848c6.45215,0,10.85449,4.49023,10.85449,11.2041v31.12598h5.75488v-29.33887
                            c0-7.58594,4.88281-12.99121,11.90137-12.99121c6.8877,0,10.94238,4.44629,10.94238,11.77051V1131.42041z M1724.02979,1195.55322
                            c-7.5415,0-12.90381,3.44434-15.51953,9.28613h-0.13086v-27.46484h-5.75439v65.65332h5.75439v-27.37695
                            c0-8.9375,5.53662-14.95313,14.0376-14.95313c8.02148,0,12.64258,4.96973,12.64258,13.16504v29.16504h5.75439v-30.08008
                            C1740.81396,1202.44189,1734.31836,1195.55322,1724.02979,1195.55322z M2528.64941,1126.75537
                            c-9.19824,0-15.30176-7.19238-15.30176-18.83203c0-11.42188,6.05957-18.83301,15.25781-18.83301
                            c7.49902,0,12.4248,4.40332,13.55859,10.15723h5.70996c-1.13281-8.2832-8.32617-15.30176-19.31152-15.30176
                            c-12.72949,0-21.09961,9.45996-21.09961,23.97754c0,14.82227,8.41309,24.02051,21.18652,24.02051
                            c10.375,0,17.91699-6.14746,19.26855-14.99707h-5.71094C2540.85547,1123.09424,2535.84277,1126.75537,2528.64941,1126.75537z
                             M2573.37891,1083.9458c-9.85254,0-17.26367,5.8418-17.74316,14.08105h5.53711c1.0459-5.58008,5.62305-8.93652,12.16309-8.93652
                            c7.58496,0,11.90039,3.9668,11.90039,10.81152v4.01074l-14.42969,0.95898c-11.24707,0.78418-17.2627,5.44922-17.2627,13.4707
                            c0,8.1084,6.36426,13.60156,15.7373,13.60156c7.19336,0,13.55762-3.79297,16.08594-9.50391h0.13086v8.98047h5.49316v-31.99805
                            C2590.99121,1089.9624,2584.14648,1083.9458,2573.37891,1083.9458z M2585.23633,1113.76514
                            c0,7.41016-6.4082,13.12109-14.82129,13.12109c-6.53906,0-10.98633-3.44336-10.98633-8.50098
                            c0-5.27441,4.18555-8.32617,12.07617-8.84961l13.73145-0.95898V1113.76514z M1740.94629,1126.75537
                            c-9.19824,0-15.30176-7.19238-15.30176-18.83203c0-11.42188,6.05957-18.83301,15.2583-18.83301
                            c7.49854,0,12.42432,4.40332,13.55811,10.15723h5.70996c-1.13281-8.2832-8.32617-15.30176-19.31201-15.30176
                            c-12.72949,0-21.09961,9.45996-21.09961,23.97754c0,14.82227,8.41406,24.02051,21.18701,24.02051
                            c10.375,0,17.91699-6.14746,19.26855-14.99707h-5.71094C1753.15234,1123.09424,1748.13965,1126.75537,1740.94629,1126.75537z
                             M1788.68359,1195.55322c-9.85254,0-17.26367,5.8418-17.74316,14.08105h5.53711c1.0459-5.58008,5.62305-8.93652,12.16309-8.93652
                            c7.58496,0,11.90039,3.9668,11.90039,10.81152v4.01074l-14.42969,0.95898c-11.24707,0.78418-17.2627,5.44922-17.2627,13.4707
                            c0,8.1084,6.36426,13.60156,15.7373,13.60156c7.19336,0,13.55762-3.79297,16.08594-9.50391h0.13086v8.98047h5.49316v-31.99805
                            C1806.2959,1201.56982,1799.45117,1195.55322,1788.68359,1195.55322z M1800.54102,1225.37256
                            c0,7.41016-6.4082,13.12109-14.82129,13.12109c-6.53906,0-10.98633-3.44336-10.98633-8.50098
                            c0-5.27441,4.18555-8.32617,12.07617-8.84961l13.73145-0.95898V1225.37256z M1789.55566,1083.9458
                            c-7.54199,0-12.90332,3.44434-15.51953,9.28613h-0.13086v-27.46484h-5.75391v65.65332h5.75391v-27.37695
                            c0-8.9375,5.53711-14.95313,14.03711-14.95313c8.02148,0,12.64258,4.96973,12.64258,13.16504v29.16504h5.75488v-30.08008
                            C1806.33984,1090.83447,1799.84375,1083.9458,1789.55566,1083.9458z M1837.46875,1195.55322
                            c-7.58594,0-12.86035,3.44434-15.47656,9.28613h-0.17383v-8.7627h-5.40625v46.95117h5.75488v-27.5957
                            c0-8.76172,5.31836-14.73438,13.68848-14.73438c7.97754,0,12.51172,4.75195,12.51172,13.03418v29.2959h5.75391v-30.21094
                            C1854.12109,1202.18018,1847.7998,1195.55322,1837.46875,1195.55322z' fill='#bec491'></path>
                        </svg>

<style>
  .fill-0 {
    fill: var(--preview-ground);
  }

  .fill-1 {
    fill: var(--preview-on-ground);
  }

  .d-lg-none {
    display: none;
  }
</style>
