<script lang='ts'>
  import { theme, themeType, ThemeTypes } from '../stores/artilor';
  import Mono1 from './preview/mono-1.svelte';
  import Mono2 from './preview/mono-2.svelte';
  import Accent1 from './preview/1accent-1.svelte';
  import Accent2 from './preview/1accent-2.svelte';

  $: styles = $theme?.toStyles() || '';
</script>

<div style={styles} class='preview-wrapper'>
  {#if $themeType === ThemeTypes.Monochrome}
    <Mono1 />
    <Mono2 />
  {:else if $themeType === ThemeTypes.Accent || $themeType === ThemeTypes.TwoAccents}
    <Accent1 />
    <Accent2 />
  {/if}
</div>

<style lang='scss'>
  .preview-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    color: var(--preview-on-ground);
    min-height: 100%;
    padding: 1rem;
    width: 100%;

    > :global(svg) {
      box-shadow: 0 1px 8px 2px rgba(black, 0.3);
    }
  }
</style>
