<script lang='ts'>
  import {
    ClickableTile,
    Content,
    Dropdown,
    Header,
    SkipToContent,
    Tile, Toggle,
  } from 'carbon-components-svelte';
  import ColorPicker from 'svelte-awesome-color-picker';
  import PreviewPanel from './components/preview.svelte';
  import {
    palette,
    texts,
    addColor,
    removeColor,
    colorOrder,
    editing,
    themeMode,
    themeLight,
    themeAdvanced,
    themeType,
    ThemeTypes,
  } from './stores/artilor';
  import { pretty } from './utils/string';

  let step = 0;

  const themeTypes = [
    { id: ThemeTypes.Monochrome, text: 'Monochrome' },
    { id: ThemeTypes.Accent, text: 'Accent' },
    { id: ThemeTypes.TwoAccents, text: '2 Accents' },
    { id: ThemeTypes.ThreeAccents, text: '3 Accents' },
  ];

  const stepData = [
    {
      title: 'Select the type of theme to generate',
      description: 'The following are the supported type of themes that Artilor can generate for you.',
      options: [
        {
          title: 'Css Variables',
          description: 'No scss involved. Generate a theme that does not require scss pre-processing.',
          value: 'css',
        },
        {
          title: 'Hybrid',
          description: 'Make use of scss to generate the tokens but render the result as css-variables.',
          value: 'both',
        },
        {
          title: 'Scss',
          description: 'Generate an scss theme that makes use of scss mixins and functions.',
          value: 'scss',
        },
      ],
    },
    {
      title: 'Select the configuration complexity',
      description: 'You can choose to create a quick and simple theme or get involved in configuring every detail of the theme.',
      options: [
        {
          title: 'Basic',
          description: 'Generate a simple theme based on a small set of configurations.',
          value: 'false',
        },
        {
          title: 'Advanced',
          description: 'View and edit all aspect of the theme for a more fine-grained result.',
          value: 'true',
        },
      ],
    },
  ];

  $: currentStep = step < stepData.length ? stepData[step] : null;

  const updateOption = (value: string) => {
    switch (step) {
      case 0:
        themeMode.set(value);
        break;

      case 1:
        themeAdvanced.set(value === 'true');
        break;
    }

    if (++step === 2) {
      editing.set(true);
    }
  };
</script>

<Header platformName='Artilor'>
  <svelte:fragment slot='skip-to-content'>
    <SkipToContent />
  </svelte:fragment>
</Header>

<Content class={$editing ? 'editing' : ''}>
  {#if $editing}
    <section id='form'>
      <!-- Theme Type -->
      <Dropdown items={themeTypes} titleText='Theme Type' bind:selectedId={$themeType} />

      <!-- Theme is Dark? -->
      <Toggle labelText='Use Dark or Light Theme ?' bind:toggled={$themeLight} labelA='Dark' labelB='Light'
              style='margin-top: 2rem' />

      <!-- Neutral color -->
      <div class='bx--dropdown__wrapper' style='margin: 2rem 0 -.5rem'>
        <span class='bx--label'>General</span>
      </div>
      {#each Object.entries($texts) as [key, color]}
        <Tile>
          <ColorPicker bind:hex={$texts[key]} label={`${pretty(key)} Color`} />
        </Tile>
      {/each}

      <!-- Accents -->
      {#if $themeType !== ThemeTypes.Monochrome}
        <div class='bx--dropdown__wrapper' style='margin: 2rem 0 -.5rem'>
          <span class='bx--label'>Accents</span>
        </div>
        {#each Object.entries($palette) as [key, color]}
          <Tile>
            <ColorPicker bind:hex={$palette[key]} label={`${pretty(key)} Color`} />
          </Tile>
        {/each}
      {/if}
    </section>
    <section id='preview'>
      <PreviewPanel />
    </section>
  {:else if currentStep !== null}
    <section id='steps'>
      <h1>{ currentStep.title }</h1>
      <p>{ currentStep.description }</p>
      <ul>
        {#each currentStep.options as option}
          <li>
            <ClickableTile on:click={() => updateOption(option.value)}>
              <h2>{ option.title }</h2>
              <p>{ option.description }</p>
            </ClickableTile>
          </li>
        {/each}
      </ul>
    </section>
  {/if}
</Content>

<style lang='scss'>
  :global(:root) {
    color-scheme: dark;
  }

  :global(#main-content) {
    display: grid;
  }

  :global(#main-content.editing) {
    grid-template-columns: 400px 1fr;
    flex-flow: row nowrap;
    height: calc(100vh - 3rem);
    padding: 0;
    place-items: stretch;

    section {
      flex: 1 0 0;
    }
  }

  #form {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    padding: 1rem 2rem;
    height: 100%;

    overflow-y: auto;

    :global(.bx--form-item) {
      flex: 0 0 auto;
    }
  }

  #preview {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #steps {
    width: calc(100% - 2rem);
    max-width: 1024px;
    margin: 2rem auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    ul {
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
      margin-top: 2rem;
      place-items: stretch;

      h2 {
        margin-bottom: 1rem;
      }
    }
  }

  :global(.color-picker .container .color), :global(.color-picker .container .alpha) {
    border-radius: 0;
  }

  :global(.color-picker .container) {
    margin-right: .5rem;
  }

  :global(.color-picker .wrapper) {
    background: #393939;
    border-radius: 0;
    color: #f4f4f4;

    :global(input), :global(button) {
      background: #282828 !important;
      color: #f4f4f4;
    }
  }
</style>
